<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.empl.mapper.EmployeeMapper">


	<resultMap type="com.cherp.app.empl.vo.EmployeeVO" id="Employee">
		<id column="employee_code" property="employeeCode"/>
		<result column="employee_id" property="employeeId"/>
		<result column="name" property="name"/>
		<result column="hire_date" property="hireDate"/>
		<result column="password" property="password"/>
		<result column="employee_position" property="employeePosition"/>
		<result column="status_type" property="statusType"/>
		<result column="resignation_date" property="resignationDate"/>
		<result column="hire_type" property="hireType"/>
		<result column="department_code" property="departmentCode"/>
		<result column="department_name" property="departmentName"/>		
		<!-- 인사세부정보 -->
		<association property="employeeDetailVO" javaType="com.cherp.app.empl.vo.EmployeeDetailVO">
			<result column="eng_name" property="engName"/>
			<result column="identity_no" property="identityNo"/>
			<result column="head_check" property="headCheck"/>
			<result column="duty" property="duty"/>
			<result column="tel" property="tel"/>
			<result column="phone" property="phone"/>
			<result column="email" property="email"/>
			<result column="emp_status" property="empStatus"/>
			<result column="zipcode" property="zipcode"/>
			<result column="address" property="address"/>
			<result column="detail_address" property="detailAddress"/>
			<result column="bacct" property="bacct"/>
			<result column="depositor" property="depositor"/>
			<result column="employee_image" property="employeeImage"/>
			<result column="bank" property="bank"/>
		</association>
		<!-- 기본급 -->
		<association property="employeeSalaryVO" javaType="com.cherp.app.empl.vo.EmployeeSalaryVO">
			<result column="monthly_salary" property="monthlySalary"/>
		</association>
		<!-- 고정수당 -->
		<collection property="fixedVO"
					javaType="java.util.ArrayList"
					ofType="com.cherp.app.empl.vo.FixedVO">
			<id column="fixed_no" property="fixedNo"/>
			<result column="allowance_price" property="allowancePrice"/>
			<result column="allowance_code" property="allowanceCode"/>
			<result column="allowance_name" property="allowanceName"/>
			<result column="allowance_check" property="allowanceCheck"/>
		</collection>
		<!-- 리절트맵시 사용시 association넣고나서 다시 result를 삽입하지 말것 오류뜸.  -->
	</resultMap>
	<!-- 인사정보 다건조회 -->
	<select id="selectAllEmployeeList" resultType="com.cherp.app.empl.vo.EmployeeVO">
		SELECT 	em.employee_code,
				em.employee_id,
				em.name,
				em.hire_date,
				em.password,
				em.employee_position,
				em.status_type,
				em.resignation_date,
				em.hire_type,
				em.department_code,
                dp.department_name
		FROM    employees em
		JOIN    department dp
        ON      em.department_code = dp.department_code
	</select>
	
	<!-- 인사정보 단건조회 -->
	<select id="seleectEmployee" resultMap="Employee">
		SELECT 	em.employee_code,
		        em.employee_id,
		        em.name,
		        em.hire_date,
		        em.password,
		        em.employee_position,
		        em.status_type,
		        em.resignation_date,
		        em.hire_type,
		        em.department_code,
		        dp.department_name,
		        ed.eng_name,
		        ed.identity_no,
		        ed.head_check,
		        ed.duty,
		        ed.tel,
		        ed.phone,
		        ed.email,
		        ed.emp_status,
		        ed.zipcode,
		        ed.address,
		        ed.detail_address,
		        ed.bacct,
		        ed.depositor,
		        ed.employee_image,
		        ed.bank
		FROM    employees em
		JOIN    department dp
		ON      em.department_code = dp.department_code
		JOIN    employees_detail ed
		ON      em.employee_code = ed.employee_code
		WHERE   em.employee_code = #{employeeCode}
	</select>
	<insert id="insertEmployee" statementType="CALLABLE" >
		CALL employee_insert(
								  #{name} 
								, #{hireDate}
								, #{password} 
								, #{employeePosition} 
								, #{statusType} 
								, #{resignationDate} 
								, #{hireType} 
								, #{departmentCode} 
								, #{employeeDetailVO.engName} 
								, #{employeeDetailVO.identityNo}
								, #{employeeDetailVO.headCheck}
								, #{employeeDetailVO.duty}
								, #{employeeDetailVO.tel}
								, #{employeeDetailVO.phone}
								, #{employeeDetailVO.email}
								, #{employeeDetailVO.empStatus}
								, #{employeeDetailVO.zipcode}
								, #{employeeDetailVO.address}
								, #{employeeDetailVO.detailAddress}
								, #{employeeDetailVO.bacct}
								, #{employeeDetailVO.depositor}
								, #{employeeDetailVO.employeeImage}
								, #{employeeDetailVO.bank}
								, #{employeeSalaryVO.monthlySalary}
								, #{fixedVO, mode=IN, typeHandler=com.cherp.app.empl.vo.EmployeeArrayStructHandler}
							)
	</insert>
	
	<!-- 인사정보 삽입 -->
</mapper>