<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.empl.mapper.EmployeeMapper">


	<resultMap type="com.cherp.app.empl.vo.EmployeeVO" id="Employee">
		<id column="employee_code" property="employeeCode"/>
		<result column="employee_id" property="employeeId"/>
		<result column="name" property="name"/>
		<result column="hire_date" property="hireDate"/>
		<result column="password" property="password"/>
		<result column="employee_position" property="employeePosition"/>
		<result column="status_type" property="statusType"/>
		<result column="resignation_date" property="resignationDate"/>
		<result column="hire_type" property="hireType"/>
		<result column="department_code" property="departmentCode"/>
		<result column="department_name" property="departmentName"/>		
		<!-- 인사세부정보 -->
		<association property="employeeDetailVO" javaType="EmployeeDetailVO">
			<result column="eng_name" property="engName"/>
			<result column="identity_no" property="identityNo"/>
			<result column="head_check" property="headCheck"/>
			<result column="duty" property="duty"/>
			<result column="tel" property="tel"/>
			<result column="phone" property="phone"/>
			<result column="email" property="email"/>
			<result column="emp_status" property="empStatus"/>
			<result column="zipcode" property="zipcode"/>
			<result column="address" property="address"/>
			<result column="detail_address" property="detailAddress"/>
			<result column="bacct" property="bacct"/>
			<result column="depositor" property="depositor"/>
			<result column="employee_image" property="employeeImage"/>
			<result column="bank" property="bank"/>
		</association>
		<!-- 기본급 -->
		<association property="employeeSalaryVO" javaType="EmployeeSalaryVO">
			<result column="monthly_salary" property="monthlySalary"/>
		</association>
		<!-- 고정수당 -->
		<collection property="fixedVO"
					javaType="java.util.ArrayList"
					ofType="FixedVO">
			<id column="fixed_no" property="fixedNo"/>
			<result column="allowance_price" property="allowancePrice"/>
			<result column="allowance_code" property="allowanceCode"/>
			<result column="allowance_name" property="allowanceName"/>
			<result column="allowance_check" property="allowanceCheck"/>
		</collection>
		<!-- 리절트맵시 사용시 association넣고나서 다시 result를 삽입하지 말것 오류뜸.  -->
	</resultMap>
	<!-- 인사정보 다건조회 -->
	<select id="selectAllEmployeeList" resultType="com.cherp.app.empl.vo.EmployeeVO">
		SELECT 	em.employee_code,
				em.employee_id,
				em.name,
				em.hire_date,
				em.password,
				em.employee_position,
				em.status_type,
				em.resignation_date,
				em.hire_type,
				em.department_code,
                dp.department_name
		FROM    employees em
		JOIN    department dp
        ON      em.department_code = dp.department_code
	</select>
	
	<!-- 인사정보 단건조회 -->
	<select id="seleectEmployee" resultMap="Employee">
		SELECT 	em.employee_code,
		        em.employee_id,
		        em.name,
		        em.hire_date,
		        em.password,
		        em.employee_position,
		        em.status_type,
		        em.resignation_date,
		        em.hire_type,
		        em.department_code,
		        dp.department_name,
		        ed.eng_name,
		        ed.identity_no,
		        ed.head_check,
		        ed.duty,
		        ed.tel,
		        ed.phone,
		        ed.email,
		        ed.emp_status,
		        ed.zipcode,
		        ed.address,
		        ed.detail_address,
		        ed.bacct,
		        ed.depositor,
		        ed.employee_image,
		        ed.bank
		FROM    employees em
		JOIN    department dp
		ON      em.department_code = dp.department_code
		JOIN    employees_detail ed
		ON      em.employee_code = ed.employee_code
		WHERE   em.employee_code = #{employeeCode}
	</select>
	
	
	<insert id="">
		DECLARE
			v_empcode employees.employee_code%ROWTYPE;
			v_empid employees.employee_id%ROWTYPE;
			v_ansal employees_salary.annual_salary%ROWTYPE;
			v_tmsal employees_salary.time_salary%ROWTYPE;
			v_income employees_salary.income_invoice%ROWTYPE;
			v_leave employees_salary.leave_rate%ROWTYPE;
			v_health employees_salary.health_insurance%ROWTYPE;
			
			
		BEGIN
			SELECT domain('employee_code')
			INTO v_empcode
			FROM dual;
			
			SELECT domain('employee_id')
			INTO v_empid
			FROM dual;
		
			INSERT INTO employees(employee_code,
			                      employee_id,name,
			                      hire_date,
			                      password,
			                      employee_position,
			                      status_type,
			                      resignation_date,
			                      hire_type,
			                      department_code)
			values (
			         v_empcode
			        ,v_empid
			        ,#{name}
			        ,#{hireDate}
			        <choose>
			        	<when test="password == null and password.equals('')">
			        	,SUBSTR(#{employeeDetailVO.identity},0,6)
			        	</when>
			        	<otherwise>
			        	,#{password}
			        	</otherwise>
			        </choose> 
			        ,#{employeePosition}
			        ,#{statusType}
			        ,#{resignationDate}
			        ,#{hireType}
			        ,#{departmentCode}
			       );
			       
			INSERT INTO employees_detail(employee_code
			                            ,eng_name
			                            ,identity_no
			                            ,head_check
			                            ,duty
			                            ,tel
			                            ,phone
			                            ,email
			                            ,emp_status
			                            ,zipcode
			                            ,address
			                            ,detail_address
			                            ,bacct
			                            ,depositor
			                            ,employee_image
			                            ,bank
			                             )
			VALUES (v_empcode
			       ,#{endName}
			       ,#{identityNo}
			       ,#{headCheck}
			       ,#{duty}
			       ,#{tel}
			       ,#{phone}
			       ,#{email}
			       ,#{empStatus}
			       ,#{zipcode}
			       ,#{address}
			       ,#{detailAddress}
			       ,#{bacct}
			       ,#{depositor}
			       ,#{employeeImage}
			       ,#{bank}
			        );
			v_ansal := (TO_NUMBER(#{monthlySalary}))*12;
			v_tmsal := (TO_NUMBER(#{monthlySalary}))/209
			v_income :=
			v_leave :=
			v_health employees_salary.health_insurance%ROWTYPE;
			 
			                               
		END;
		/
	</insert>
	<!-- 인사정보 삽입 -->
</mapper>