<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.empl.RegisterMapper">
	<!-- 부서목록 페이지의 부서등록  -->
	<insert id="insertDepartment" parameterType="com.cherp.app.empl.vo.DepartmentVO">
		INSERT INTO department(
		                       deparment_code
		                       deparmtnt_name
		                       <if test="managerId != null and !managerId.equals('')">
		                       manager_id
		                       </if>)
		VALUES (
				#{departmentCode}
		        #{departmentName}
                <if test="managerId != null and !managerId.equals('')">
                #{mangerId}
                </if>
		        )
	</insert>






</mapper>