<!DOCTYPE html>
<!-- FooterFragment -->
<html xmlns:th="https://www.thymeleaf.org">

<th:block th:fragment="sidebarStack">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark" style="border-right:1px solid #D8D8D8;">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark" style="border-bottom:1px solid gray; border-right:1px solid gray;">
            <a href="stocks/stockInquery" class="logo">
              <img
                th:src="@{/img/index/logov2.png}"
                alt="navbar brand"
                class="navbar-brand"
                height="100%" width="100%" style="width:190px; height:90px; margin-right:10px;"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner" >
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item active d-flex align-items-center" style="background-color: rgb(213 236 195);">
                <a href="/myPageStocks">
                  <i class="icon-star"></i>
                  <p>마이페이지</p>
                </a>
	            <form action="/logout" method="POST" class="ms-2" style="margin-right: 4px;">
	              <button type="submit" class="btn btn-success logoutBtn">로그아웃</button>
	            </form>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">재고파트</h4>
              </li>
              <li class="nav-item">
                <a  href="/stocks/stockAdjustment">
                  <i class="icon-refresh"></i>
                  <p>재고조정</p>
                </a>
              </li>
              <li class="nav-item" >
                <a  href="/stocks/stockInquery" style="margin-bottom:0">
                  <i class="icon-drawer"></i>
                  <p>재고조회/상품관리</p>
                </a>
              </li>             
              
            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
</th:block>

<th:block th:fragment="sidebarSales">
      <div class="sidebar" data-background-color="dark" style="border-right:1px solid #D8D8D8;">
        <div class="sidebar-logo" >
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark" style="border-bottom:1px solid gray; border-right:1px solid gray;">
            <a href="index.html" class="logo">
              <img
                th:src="@{/img/index/logo.png}"
                alt="navbar brand"
                class="navbar-brand"
                height="100%" width="100%"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item active d-flex align-items-center" style="background-color: rgb(213 236 195);">
                <a href="/myPageSales">
                  <i class="fas fa-home"></i>
                  <p>마이페이지</p>
                </a>
	            <form action="/logout" method="POST" class="ms-2" style="margin-right: 4px;">
	              <button type="submit" class="btn btn-success logoutBtn">로그아웃</button>
	            </form>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">영업파트</h4>
              </li>
              
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="/business/clientList">
                  <i class="icon-briefcase"></i>
                  <p>거래처 관리</p>
                </a>
              </li>   
              
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#tables">
                  <i class="
                  icon-note"></i>
                  <p>구매</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="tables">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/purchase/purchaseChit">
                        <span class="sub-item">구매입력</span>
                      </a>
                    </li>
                    <li>
                      <a href="/purchase/purchaseHistory">
                        <span class="sub-item">구매조회</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#tables2">
                  <i class="
                  icon-share"></i>
                  <p>판매</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="tables2">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/sales/salesChit">
                        <span class="sub-item">판매입력</span>
                      </a>
                    </li>
                    <li>
                      <a href="/sales/saleSlip">
                        <span class="sub-item">판매조회</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
</th:block>



<th:block th:fragment="sidebarHuman">
      <div class="sidebar" data-background-color="dark" style="border-right:1px solid #D8D8D8;">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark" style="border-bottom:1px solid gray; border-right:1px solid gray;">
            <a href="index.html" class="logo">
              <img
                th:src="@{/img/index/logo.png}"
                alt="navbar brand"
                class="navbar-brand"
                height="100%" width="100%"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item active d-flex align-items-center" style="background-color: rgb(213 236 195);">
                <a href="/myPageHuman">
                  <i class="fas fa-home"></i>
                  <p>마이페이지</p>
                </a>
	            <form action="/logout" method="POST" class="ms-2" style="margin-right: 4px;">
	              <button type="submit" class="btn btn-success logoutBtn">로그아웃</button>
	            </form>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">인사파트</h4>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#base">
                  <i class="icon-people"></i>
                  <p>인사관리</p>
                  <span class="caret"></span>         
                </a>
                <div class="collapse" id="base">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">인사카드</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">인사발령입력</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">인사발령현황</span>
                      </a>
                    </li>
                    
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#sidebarLayouts">
                  <i class="icon-login"></i>
                  <p>근태관리</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="sidebarLayouts">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">근태입력</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">근태조회</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#forms">
                  <i class="icon-calendar"></i>
                  <p>급여</p>
                </a>
                
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#tables">
                  <i class="icon-note"></i>
                  <p>기초등록</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="tables">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">부서등록</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">공제항목등록</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">근태항목등록</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
</th:block>



<th:block th:fragment="sidebarAccount">
      <div class="sidebar" data-background-color="dark" style="border-right:1px solid #D8D8D8;">
        <div class="sidebar-logo" >
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark" style="border-bottom:1px solid gray; border-right:1px solid gray;">
            <a href="index.html" class="logo">
              <img
                th:src="@{/img/index/logo.png}"
                alt="navbar brand"
                class="navbar-brand"
                height="100%" width="100%"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item active d-flex align-items-center" style="background-color: rgb(213 236 195);">
                <a href="/myPageAccount" >
                  <i class="fas fa-home"></i>
                  <p>마이페이지</p>
                </a>
	            <form action="/logout" method="POST" class="ms-2" style="margin-right: 4px;">
	              <button type="submit" class="btn btn-success logoutBtn">로그아웃</button>
	            </form>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">회계파트</h4>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#set">
                  <i class="icon-pencil"></i>
                  <p>기초등록</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="set">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/sales/clientList">
                        <span class="sub-item">거래처 등록</span>
                      </a>
                    </li>
                    <li>
                      <a href="/bacct/accList">
                        <span class="sub-item">계좌 등록</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#forms">
                  <i class="icon-briefcase"></i>
                  <p>매입 단가 계약</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="forms">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/sales/insertContractView">
                        <span class="sub-item">매입 단가 계약 등록</span>
                      </a>
                    </li>
                    <li>
                      <a href="/sales/selectContractView">
                        <span class="sub-item">매입 단가 계약 관리</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
			<li class="nav-item">
			  <a href="/sales/invoiceListView">
			    <i class="icon-film"></i>
			    <p>전자세금계산서</p>
			  </a>
			</li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#tables">
                  <i class="icon-map"></i>
                  <p>전표</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="tables">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/sales/insertSales">
                        <span class="sub-item">매출 전표</span>
                      </a>
                    </li>
                    <li>
                      <a href="/sales/insertPurchase">
                        <span class="sub-item">매입 전표</span>
                      </a>
                    </li>
                     <li>
                      <a href="/sales/selectSlipView">
                        <span class="sub-item">전표관리</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#maps">
                  <i class="icon-loop"></i>
                  <p>채권/채무</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="maps">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/receivable/receivableList">
                        <span class="sub-item">채권 관리</span>
                      </a>
                    </li>
                    <li>
                      <a href="/payable/payablesList">
                        <span class="sub-item">채무 관리</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
</th:block>

</html>