<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/stack_layout}"
      layout:fragment="Content">
  <head>
    <meta charset="UTF-8" />
  <title>마이페이지</title>
  <style>
  </style>
  </head>
  		<div class="bg-white shadow-sm rounded" style="padding: 20px;" >
	        
	        <!-- Header -->
	        <div class="row">
	        		<h4 style="font-weight:900">마이페이지</h4>
	        </div>
	        <ul class="nav nav-tabs" id="mainTab" role="tablist">
	        	
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="myInfo-tab" data-bs-toggle="tab"
                        data-bs-target="#myInfo" type="button" role="tab" aria-controls="myInfo"
                        aria-selected="true">나의 정보</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="#myAttendance-tab" data-bs-toggle="tab" 
                        data-bs-target="#myAttendance" type="button" role="tab" aria-controls="myAttendance"
                        aria-selected="false">근태 조회</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="#mySalary-tab" data-bs-toggle="tab" 
                        data-bs-target="#mySalary" type="button" role="tab" aria-controls="mySalary"
                        aria-selected="false">급여 조회</button>
                </li> 
            </ul>
	        
	        <div class="tab-content" id="mainTabContent"> <!-- 메인탭시작 -->
	        
			    <div class="tab-pane fade show active" id="myInfo" role="tabpanel"
			        aria-labelledby="myInfo-tab static-width"> <!-- 첫번째 탭 시작 -->
			         <div class="card col-md-7 p-3" style="min-width:600px;">
			         	
			         	<div class="row g-3">
			         					<input type="text" style="display:none;" name="employeeCode" id="employeeCode" th:value="${employeeVO.employeeCode}">
                                        <div class="col-md-4 text-center">
                                            <img src="#"  style="min-width:160px; min-height:210px;" alt="사원 프로필 사진" class="employee-photo mb-2" name="employeePhoto" id="employeePhoto">
                                            <input type="file" class="form-control form-control-sm"  id="employeeImage" name="employeeImage">
                                        </div>
                                        <div class="col-md-8 ">
                                                    	<input type="hidden" class="form-control form-control-sm EmployeeVO"  name="employeeCode" onkeypress="return false;" style="caret-color: transparent !important;">
                                        	<div class="row mb-1">
                                                	<div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    	<label class="form-label">사원아이디</label>
                                                    </div>
                                                    <div class="col-md-8 col-sm-9 col-lg-7 ps-0">
                                                    	<input type="text" class="form-control form-control-sm EmployeeVO"  th:value="${employeeVO.employeeId}" readonly name="employeeId" onkeypress="return false;" style="caret-color: transparent !important;">
                                                    </div>
                                                </div>
                                            <div class="row mb-1">
	                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                            	      <label class="form-label" >성명</label>
                                            	    </div>  
                                            	    <div class="col-md-8 col-sm-9 col-lg-7 ps-0">  
                                          	    	  <input type="text" class="form-control form-control-sm EmployeeVO" th:value="${employeeVO.name}" name="name" readonly>
    	                                            </div>
    	                                    </div>
    	                                   	<div class="row mb-1">    
                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    <label class="form-label">외국어성명</label>
                                                </div>
                                                <div class="col-md-8 col-sm-9 col-lg-7 ps-0">    
                                                    <input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.employeeDetailVO.engName}" name="engName" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-1">
                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    <label class="form-label">생년월일</label>
                                                </div>
                                                <div class="col-md-8 col-sm-9 col-lg-7 ps-0">
                                                	<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.employeeDetailVO.modifiedIdentityNo}" name="modifiedIdentityNo" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-1">
                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    <label class="form-label">부서명</label>
                                                </div>
                                                <div class="col-md-8 col-sm-9 col-lg-7 ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.departmentName}"  name="departmentCode" readonly>
                                                </div>
                                            </div>
                              
                                            
                                        </div>
                                        <!-- 사진밑 -->
                                        <div class="col-md-6 mt-sm-1 mt-md-2">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">직위/직급</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.employeePosition}" name="employeePosition" >
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-sm-1 mt-md-2">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">직책</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.employeeDetailVO.duty}" name="duty" readonly>
                                            	</div>
                                        	</div>
                                        </div>
                                        <!--  -->
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">전화번호</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.employeeDetailVO.tel}" name="tel" id="tel" >
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">모바일</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.employeeDetailVO.phone}" name="phone" id="phone" >
                                            	</div>
                                        	</div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">이메일</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.employeeDetailVO.duty}" name="email" id="email">
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">재직구분</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" th:value="${employeeVO.statusType}" name="statusType" readonly>
                                            	</div>
                                        	</div>
                                        </div>
                                        
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">입사일자</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeVO " th:value="${#dates.format(employeeVO.hireDate,'yyyy-MM-dd')}" name="hireDate" readonly>
                                            	</div>
                                        	</div>
                                        </div>
                                        
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">근속년수</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" th:value="${#dates.year(#dates.createNow()) - #dates.year(employeeVO.hireDate)} + '년'" class="form-control form-control-sm EmployeeDetailVO" name="resignationDate" readonly>
                                            	</div>
                                        	</div>
                                        </div>
                                        	
                                        <div class="col-12">
                                            <label class="form-label">주소</label>
                                            <input type="text" th:value="${employeeVO.employeeDetailVO.zipcode}" class="form-control form-control-sm EmployeeDetailVO mb-2 findZipCode" id="zipcode" placeholder="우편번호" name="zipcode" onkeypress="return false;" required>
                                            <input type="text" th:value="${employeeVO.employeeDetailVO.address}" class="form-control form-control-sm EmployeeDetailVO mb-2 findZipCode" id="address" placeholder="기본주소" name="address" onkeypress="return false;" style="caret-color: transparent !important;" required>
                                            <input type="text" th:value="${employeeVO.employeeDetailVO.detailAddress}" class="form-control form-control-sm EmployeeDetailVO" id="detailAddress" placeholder="상세주소" name="detailAddress" onkeypress="return false;" style="caret-color: transparent !important;"  required>
                                        </div>
                                    </div>
                                    <div class="mt-3 text-end col-md-12">
		                            	<button type="button" class="btn btn-primary btn-sm" id="saveBtn" data-mode="insert">수정</button>
		                     		</div>
                            </div>
			         		
			         </div> <!-- 첫번째 탭 Box End point -->
			         
			        
	        	</div> <!-- 첫번째 탭 End Point -->
	        	
	        	<div class="tab-pane fade" id="myAttendance" role="tabpanel"
        									aria-labelledby="myAttendance-tab"> <!-- 두번째 탭 시작 -->
        		
        								
        									
        									
        		</div> <!-- 두번째 탭 End Point -->
        		
        		<div class="tab-pane fade" id="mySalary" role="tabpanel"
        									aria-labelledby="mySalary-tab"> <!-- 세번째 탭 시작 -->
        							
        									
        									
        		</div> <!-- 세번째 탭 End Point -->
			
	   		</div> <!-- mainTab End Point -->
	   		<script th:src="@{/js/common/myPage.js}"></script>
  </body>
</html>
