<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/account_layout}"
  layout:fragment="Content"
>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거래처 조회</title>
    <style>
        .clientStyle {
          cursor: pointer;
        }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
</head>

<body>
    <div class="bg-white shadow-sm rounded kwBorder" style="padding: 20px;">
	    <!-- Search Section -->
	    <div class="border-bottom pb-3 mb-4">
	      <h1>거래처 리스트</h1>
	    </div>
	    <div class="gridWrapper">
	      <button type="button" class="btn btn-success" id="newAcc" data-bs-toggle="modal" data-bs-target="#insertClientModal" style="margin-bottom: 10px;">신규등록</button>
	      <div id="clientListGrid"></div>
	      <div id="pagination" class="tui-pagination"></div> <!-- 페이징 ui -->
	    </div>
        <!-- 거래처 등록 모달창 -->
        <div class="modal fade" id="insertClientModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form method="post" th:action="@{/business/insertClient}" name="insertClientForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="customerModalLabel">거래처등록</h5>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs" id="customerTabs" role="tablist" >
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="basic-tab" data-bs-toggle="tab"
                                        data-bs-target="#basic" type="button" role="tab" aria-controls="basic"
                                        aria-selected="true">기본</button>
                                </li>
                            </ul>
                            <div class="tab-content mt-3" id="customerTabContent" style="margin-left: 15px;">
                                <!-- 기본 거래처 입력 내용 -->
                                <div class="tab-pane fade show active" id="basic" role="tabpanel"
                                    aria-labelledby="basic-tab">
                                    <div class="mb-3 row">
                                        <label for="customerName" class="col-sm-3 col-form-label">상호(이름)<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="clientName" name="clientName" placeholder="상호(이름)" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="representativeName" class="col-sm-3 col-form-label">대표자명<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ceoName" name="ceoName" placeholder="대표자명" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="industry" class="col-sm-3 col-form-label">업태<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="state" name="state" placeholder="업태" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="category" class="col-sm-3 col-form-label">종목<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="event" name="event" placeholder="종목" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="phone" class="col-sm-3 col-form-label">회사 전화<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="tel" class="form-control" id="companyTel" name="companyTel" placeholder="회사 전화" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="phone" class="col-sm-3 col-form-label">거래 유형<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <select class="form-select form-control" id="tradeType" name="tradeType" >
                                                <option value="선택" selected>거래유형을 선택하세요.</option>
                                                <option value="채무">채무</option>
                                                <option value="채권">채권</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="fax" class="col-sm-3 col-form-label">Fax<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="tel" class="form-control" id="fax" name="fax" placeholder="Fax" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="searchContents" class="col-sm-3 col-form-label">계좌<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="clientBacct" name="clientBacct" placeholder="계좌" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="zipCode" class="col-sm-3 col-form-label">우편번호<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="우편번호">
                                                <button class="btn btn-outline-secondary" id="findZipCode" type="button">우편번호 검색</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="address" class="col-sm-3 col-form-label">주소<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="address" name="address" placeholder="주소" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="address2" class="col-sm-3 col-form-label">상세주소<span class="redStar">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="detailAddress" name="detailAddress" placeholder="상세주소" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="manager" class="col-sm-3 col-form-label">담당자</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="manager" name="employeeName" placeholder="담당자">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="mobilePhone" class="col-sm-3 col-form-label">담당자 연락처</label>
                                        <div class="col-sm-9">
                                            <input type="tel" class="form-control" id="employeeTel" name="employeeTel" placeholder="모바일">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="clientSaveBtn">저장</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 거래처 상세(수정) 모달창 -->
        <div class="modal fade" id="updateClientModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <form method="post" th:action="@{/business/updateClient}" name="updateClientForm">
                    <div class="modal-content" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="customerModalLabel">거래처상세(수정)</h5>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs" id="customerTabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="detail-tab" data-bs-toggle="tab"
                                        data-bs-target="#detail" type="button" role="tab" aria-controls="detail"
                                        aria-selected="true">기본</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contract-tab" data-bs-toggle="tab"
                                        data-bs-target="#contract-list" type="button" role="tab" aria-controls="contract-list"
                                        aria-selected="false">계약목록</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contractItem-tab" data-bs-toggle="tab"
                                        data-bs-target="#contractItem" type="button" role="tab" aria-controls="contractItem"
                                        aria-selected="false">계약품목</button>
                                </li>
                            </ul>
                            <div class="tab-content mt-3" id="customerTabContent" style="margin-left: 15px;">
                                <!-- 기본 거래처 상세(수정) 내용 -->
                                <div class="tab-pane fade show active" id="detail" role="tabpanel"
                                    aria-labelledby="detail-tab">
                                    <input type="hidden" id="clientCode" name="clientCode">
                                    <div class="mb-3 row">
                                        <label for="customerName" class="col-sm-3 col-form-label">상호(이름)</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="clientName" name="clientName" placeholder="상호(이름)" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="representativeName" class="col-sm-3 col-form-label">대표자명</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ceoName" name="ceoName" placeholder="대표자명" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="industry" class="col-sm-3 col-form-label">업태</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="state" name="state" placeholder="업태"  readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="category" class="col-sm-3 col-form-label">종목</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="event" name="event" placeholder="종목"  readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="phone" class="col-sm-3 col-form-label">회사 전화</label>
                                        <div class="col-sm-9">
                                            <input type="tel" class="form-control" id="companyTel" name="companyTel" placeholder="회사 전화" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="phone" class="col-sm-3 col-form-label">거래 유형</label>
                                        <div class="col-sm-9">
                                            <select class="form-select form-control" id="tradeType" name="tradeType" >
                                                <option value="채무" selected>채무</option>
                                                <option value="채권">채권</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="fax" class="col-sm-3 col-form-label">Fax</label>
                                        <div class="col-sm-9">
                                            <input type="tel" class="form-control" id="fax" name="fax" placeholder="Fax" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="searchContents" class="col-sm-3 col-form-label">계좌</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="clientBacct" name="clientBacct" placeholder="계좌" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="zipCode" class="col-sm-3 col-form-label">우편번호</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="zipcode2" name="zipcode" placeholder="우편번호">
                                                <button class="btn btn-outline-secondary" id="findZipCode" type="button">우편번호 검색</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="address" class="col-sm-3 col-form-label">주소</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="address2" name="address" placeholder="주소" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="address2" class="col-sm-3 col-form-label">상세주소</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="detailAddress2" name="detailAddress" placeholder="상세주소" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="manager" class="col-sm-3 col-form-label">담당자</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="employeeName" name="employeeName" placeholder="담당자">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="mobilePhone" class="col-sm-3 col-form-label">담당자연락처</label>
                                        <div class="col-sm-9">
                                            <input type="tel" class="form-control" id="employeeTel" name="employeeTel" placeholder="모바일">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row tab-pane fade" id="contract-list" role="tabpanel" aria-labelledby="contract-tab">
                                    <!-- 계약품목 탭 내용 -->
                                    <div class="col-sm-9">
                                        <!--<div class="input-group">
                                            <select class="form-select form-control" id="sort-field">
                                                <option value="conName" selected>계약 명</option>
                                                <option value="conDate">계약 일자</option>
                                                <option value="conSdate">계약 시작일</option>
                                                <option value="conEdate">계약 종료일</option>
                                                <option value="totalAmount">총 계약금액</option>
                                                <option value="status">계약상태</option>
                                            </select>
                                    
                                            <select class="form-select form-control" id="sort-direction">
                                                <option value="asc" selected>오름차순</option>
                                                <option value="desc">내림차순</option>
                                            </select>
                                    
                                            <button class="btn btn-outline-secondary" id="sort-trigger">정렬</button>
                                        </div> -->
                                    </div>
                                    <div id="contractGrid"></div> <!-- modal tabulator 사용 -->
                                </div>
                                <div class="tab-pane fade" id="contractItem" role="tabpanel" aria-labelledby="contractItem-tab">
                                    <!-- 계약품목 탭 내용 -->
                                    <div id="divContractItemGrid"></div> <!-- modal tabulator 사용 -->
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="updateClientInfo" class="btn btn-success">수정</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        let contractGrid;
        let contractItemGrid;
        // 거래처 상세 모달
        let clientDetailModal = new bootstrap.Modal(document.querySelector('#updateClientModal'));
        
        // detail모달이 화면에 나타날 때 첫번째 탭을 클릭하게 만들어 주는 기능
        document.querySelector('#updateClientModal').addEventListener('hidden.bs.modal', function (event) {
            const detailTabEvent = new Event("click");
            document.querySelector('#detail-tab').dispatchEvent(detailTabEvent);
        })

        function makeClientToastGrid(clientList) {
            let grid = new tui.Grid( { // 브라우저 환경에서 네임 스페이스 이용(new tui.Grid)
            el: document.querySelector('#clientListGrid'),
            data: clientList, // toast ui table 에 입력할 데이터값
            scrollX: true,
            scrollY: true, // 가로, 세로 스크롤 사용 유무 판단
            pageOptions: {
                useClient: true,
                perPage: 13
            },
            columns: [
                        {
                            header: '거래처코드',
                            name: 'clientCode',
                            sortable: true,
                            filter: 'select',
                            align: 'center',
                            hidden: true
                        },
                        {
                            header: '거래처명',
                            name: 'clientName',
                            filter: 'select',
                            align: 'center',
                            sortable: true,
                            formatter: ({ value }) =>
      					`<span class="text-primary clientStyle">${value}</span>`
                        },
                        {
                            header: '대표자명',
                            name: 'ceoName',
                            sortable: true,
                            align: 'center'
                        },      
                        {
                            header: '거래유형',
                            name: 'tradeType',
                            filter: 'select',
                            sortable: true,
                            align: 'center'
                        },
                        {
                            header: '팩스',
                            name: 'fax',
                            sortable: true,
                            align: 'center'
                        },
                        {
                            header: '거래처 계좌',
                            name: 'clientBacct',
                            sortable: true,
                            align: 'center'
                        },
                        {
                            header: '업태',
                            name: 'state',
                            sortable: true,
                            align: 'center'
                        },
                    ],
            });                                                                                                                                                                                                                                                      
            return grid;
        }

        function makeClientContractTabulator(clientContractList) {
            let grid = new Tabulator("#contractGrid", {
            layout:"fitColumns",
            pagination:"local",
            data: clientContractList,
            paginationSize:8,
            minHeight:400,
            movableColumns:true,
            paginationCounter:"rows",
            resizableColumnFit:true,
            placeholder:"계약내역이 없습니다.",
            paginationCounter:function(pageSize, currentRow, currentPage, totalRows, totalPages){
                return "계약 건수 : "+totalRows+"건";
            },
            rowFormatter:function(row){
                row.getElement().classList.add(".table-light"); //mark rows with age greater than or equal to 18 as successful;
            },
            langs:{
                "default":{
                    "pagination":{
                        "first":"처음",
                        "first_title":"처음으로",
                        "last":"끝",
                        "last_title":"마지막으로",
                        "prev":"이전",
                        "prev_title":"이전으로",
                        "next":"다음",
                        "next_title":"다음으로",
                        "all":"전체",
                    }
                }
            },
            columns:[
                {title:"거래처명", field:"clientName", hozAlign:"center", width:120},
                {title:"계약 명", field:"conName", hozAlign:"center", width:210, sorter:"string"},
                {title:"계약 일자", field:"conDate", hozAlign:"center", width:160, sorter:"date"},
                {title:"계약 시작일", field:"conSdate", hozAlign:"center", width:160, sorter:"date"},
                {title:"계약 종료일", field:"conEdate", hozAlign:"center", width:160, sorter:"date"},
                {title:"총 계약금액", field:"totalAmount", hozAlign:"right", width:170, sorter:"number", bottomCalc:totalSumCalc,
                formatter: "money", // 숫자 형식 지정
                formatterParams: {
                    decimal: ".", // 소수점 구분자
                    thousand: ",", // 천 단위 구분자
                    precision: 0, // 소수점 이하 자릿수
                }, sorterParams:{
                    thousandSeparator:",",
                    decimalSeparator:",",
                    alignEmptyValues:"top",
                }},
                {title:"계약상태", field:"statusDetail", hozAlign:"center", width:140, sorter:"string"}
            ],
            });
            return grid;
        }
        
        

      //ClientItemToastGrid img custom renderer
        class CustomImgRenderer {
            constructor(props) {
                const el = document.createElement('img');
                const src = props.columnInfo.renderer.options;
                el.src = String(src);

                this.el = el;
                el.style = 'height:50px; width:50px; padding: 2px 2px;';
                this.render(props);
            }

            getElement() {
                return this.el;
            }

            render(props) {
            	// 엑박방지 기본이미지	        
    	        const defaultImage = '/img/noImage.jpg';
    	
    	        // null이나 빈 문자열인 경우 기본이미지를 사용
    	        this.el.src = props.value ? `/images/${String(props.value)}` : defaultImage;
            }
        }

        // Tabulator 총합계산 계산기
        var totalSumCalc = function(values, data, calcParams){
            //values - array of column values
            //data - all table data
            //calcParams - params passed from the column definition object

            var calc = 0;

            values.forEach(function(value){
                calc += value;
            });

            return '총 : ' +calc.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") +' 원';
        }

        function makeClientItemToastGrid(clientContractItemList) {
            divContractItemGrid.innerHTML = '';
            let grid = new tui.Grid( { // 브라우저 환경에서 네임 스페이스 이용(new tui.Grid)
            el: document.querySelector('#divContractItemGrid'),
            data: clientContractItemList, // toast ui table 에 입력할 데이터값
            scrollX: true,
            scrollY: true, // 가로, 세로 스크롤 사용 유무 판단
            bodyHeight: 400,
            pageOptions: {
                useClient: true,
                perPage: 13
            },
            columns: [
                        {
                            header: '계약 번호',
                            name: 'conNo',
                            sortable: true,
                            align: 'left'
                        },  
                        {
                            header: '품목 코드',
                            name: 'itemCode',
                            sortable: true,
                            filter: 'select',
                            align: 'center',
                            hidden: true
                        },
                        {
                            header: '품목 명',
                            name: 'itemName',
                            filter: 'select',
                            sortable: true,
                            align: 'left'
                        },
                            
                        {
                            header: '단가',
                            name: 'price',
                            filter: 'select',
                            sortable: true,
                            align: "right",
                            formatter: function (e) {
                                const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
                                return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
                            },
                        },
                        {
                            header: '부가세',
                            name: 'vat',
                            sortable: true,
                            align: "right",
                            formatter: function (e) {
                                const value = e.value !== undefined && e.value !== null ? e.value : 0;
                                return Number(value).toLocaleString() + "원";
                            },
                        },
                        {
                            header: '총 금액',
                            name: 'totalPrice',
                            sortable: true,
                            align: "right",
                            formatter: function (e) {
                                const value = e.value !== undefined && e.value !== null ? e.value : 0;
                                return Number(value).toLocaleString() + "원";
                            },
                        },
                        {
                            header: '재고 수량',
                            name: 'stocksQuantity',
                            sortable: true,
                            align: "right",
                            formatter: function (e) {
                                const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
                                return String(value).toLocaleString() + "개"; // 문자열로 변환 후 포맷팅
                            },
                        },
                        {
                            header: '이미지',
                            name: 'image',
                            align: 'left',
                            renderer: {
                                type: CustomImgRenderer,
                            }
                        },
                    ],
            });                                                                                                                                                                                                                                                      
            return grid;
        }
        
        function telValidChk(tel) {
            if(pattern.test(tel) === false) { return false; }
            else { return true; }
        }
        
        function clearGrid() {
            let getChild = document.getElementById('divContractItemGrid');
            if(getChild.childNodes.length > 1) {
                getChild.removeChild(getChild.childNodes[1]);
            }
        }
        //makeClientContractTabulator Sort Trigger
        /*document.getElementById("sort-trigger").addEventListener("click", function() {
            // 선택한 필드와 정렬 방향 가져오기
            const sortField = fieldEl.options[fieldEl.selectedIndex].value;
            const sortDir = dirEl.options[dirEl.selectedIndex].value;

            // Tabulator Grid 정렬 설정
            contractGrid.setSort(sortField, sortDir);

            // 그리드 강제 업데이트
            contractGrid.redraw(); // 필요 시 강제로 그리드 다시 그리기
        });*/

        function fetchClientCode(clientCode) {
            console.log(clientCode);
            fetch('/api/business/clientDetail/' + clientCode)
            .then(result => result.json())
            .then(clientTotalInfo => {
                let clientContractList = clientTotalInfo.clientContractList; // 클라이언트 계약 목록
                let clientContractItemList = clientTotalInfo.clientContractItemList; // 클라이언트 계약 품목 목록
                console.log(clientContractItemList);
                
                contractGrid = makeClientContractTabulator(clientContractList);
                contractItemGrid = makeClientItemToastGrid(clientContractItemList);

                //#region 상세 정보창의 input => value 에 들어갈 클라이언트 정보들(clientTotalInfo.(clientInfo/clientContractList/clientContractItemList))
                /**
                 * @clientTotalInfo : 클라이언트 단건 상세 정보
                 * @clientInfo : 클라이언트테이블 단건 상세 조회
                 * @clientContractList  : 단일 클라이언트의 계약 정보 전체 조회
                 * @clientContractItemList : 단일 클라이언트의 단건 계약의 계약 품목 전체 조회
                */
                document.updateClientForm.querySelector('#clientCode').value = clientTotalInfo.clientInfo.clientCode;
                document.updateClientForm.querySelector('#clientName').value = clientTotalInfo.clientInfo.clientName;
                document.updateClientForm.querySelector('#ceoName').value = clientTotalInfo.clientInfo.ceoName;
                document.updateClientForm.querySelector('#state').value = clientTotalInfo.clientInfo.state;
                document.updateClientForm.querySelector('#event').value = clientTotalInfo.clientInfo.event;
                document.updateClientForm.querySelector('#companyTel').value = clientTotalInfo.clientInfo.companyTel;
                document.updateClientForm.querySelector('#tradeType').value = clientTotalInfo.clientInfo.tradeType;
                document.updateClientForm.querySelector('#fax').value = clientTotalInfo.clientInfo.fax;
                document.updateClientForm.querySelector('#clientBacct').value = clientTotalInfo.clientInfo.clientBacct;
                document.updateClientForm.querySelector('#zipcode2').value = clientTotalInfo.clientInfo.zipcode;
                document.updateClientForm.querySelector('#address2').value = clientTotalInfo.clientInfo.address;
                document.updateClientForm.querySelector('#detailAddress2').value = clientTotalInfo.clientInfo.detailAddress;
                document.updateClientForm.querySelector('#employeeName').value = clientTotalInfo.clientInfo.employeeName;
                document.updateClientForm.querySelector('#employeeTel').value = clientTotalInfo.clientInfo.employeeTel;
                //#endregion                
            });            
        }
        // DaumMapApi 우편번호 찾기 state 0 : 등록 / 1: 수정
        function daumMapApi(state) {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        if(state == 0) {
                            document.getElementById("detailAddress").value = extraAddr;
                        } else {
                            document.getElementById("detailAddress2").value = extraAddr;
                        }
                        
                    
                    } else {
                        if(state == 0) {
                            document.getElementById("detailAddress").value = '';
                        } else {
                            document.getElementById("detailAddress2").value = '';
                        }
                    }
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    if(state == 0) {
                        document.getElementById('zipcode').value = data.zonecode;
                        document.getElementById("address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("detailAddress").focus();
                    } else {
                        document.getElementById('zipcode2').value = data.zonecode;
                        document.getElementById("address2").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("detailAddress2").focus();
                    }
                }
            }).open();
        }
        
        function refreshToastGrid() {
            window.setTimeout(function(){
                contractItemGrid.refreshLayout();
            }, 200)
            document.querySelector('#updateClientInfo').setAttribute('hidden','');
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            
        	//#region 거래처 등록 유효성 검사
            document.querySelector('#clientSaveBtn').addEventListener('click', function() {
                let clientName = document.insertClientForm.querySelector('#clientName');
                let ceoName = document.insertClientForm.querySelector('#ceoName');
                let state = document.insertClientForm.querySelector('#state');
                let event = document.insertClientForm.querySelector('#event');
                let companyTel = document.insertClientForm.querySelector('#companyTel');
                let tradeType = document.insertClientForm.querySelector('#tradeType');
                let fax = document.insertClientForm.querySelector('#fax');
                let clientBacct = document.insertClientForm.querySelector('#clientBacct');
                let zipcode = document.insertClientForm.querySelector('#zipcode');

                if(clientName.value == '') {
                    toastr.clear();
                    toastr.warning('상호(명)을 입력하세요.');
                    clientName.focus();
                    return;
                }
                if(ceoName.value == '') {
                    toastr.clear();
                    toastr.warning('대표자 명을 입력하세요.');
                    ceoName.focus();
                    return;
                }
                if(state.value == '') {
                    toastr.clear();
                    toastr.warning('업태를 입력하세요.');
                    state.focus();
                    return;
                }
                if(event.value == '') {
                    toastr.clear();
                    toastr.warning('종목을 입력하세요.');
                    event.focus();
                    return;
                }
                if(companyTel.value == '') {
                    toastr.clear();
                    toastr.warning('회사 전화번호를 입력하세요.');
                    companyTel.focus();
                    return;
                }
                if(fax.value == '') {
                    toastr.clear();
                    toastr.warning('팩스번호를 입력하세요.');
                    fax.focus();
                    return;
                }
                if(tradeType.value == '선택') {
                    toastr.clear();
                    toastr.warning('거래 유형을 선택해주세요.');
                    tradeType.focus();
                    return;
                }
                if(clientBacct.value == '') {
                    toastr.clear();
                    toastr.warning('거래처 계좌를 입력하세요.')
                    clientBacct.focus();
                    return;
                }
                if(zipcode.value == '') {
                    toastr.clear();
                    toastr.warning('주소를 입력하세요.')
                    zipcode.focus();
                    return;
                }

                toastr.clear();
                toastr.success("등록이 완료되었습니다.");
                
                document.insertClientForm.submit();
            });
            //#endregion 거래처 등록 유효성 검사
            
            // 우편번호 검색 이벤트(Daum Api)
            document.querySelector('#insertClientModal').querySelector('#findZipCode').addEventListener('click', function () {
                daumMapApi(0);
            })
            document.querySelector('#updateClientModal').querySelector('#findZipCode').addEventListener('click',function () {
                daumMapApi(1)
            })
            // 기본 탭 클릭할 시 수정 버튼 보여주기
            document.querySelector('#detail-tab').addEventListener('click',function () {
                document.querySelector('#updateClientInfo').removeAttribute('hidden','');
            })

            // 계약 탭 클릭할 시 수정 버튼 hidden처리
            document.querySelector('#contract-tab').addEventListener('click',function () {
                clearGrid(); // 중복생성 그리드 제거
                refreshToastGrid();
            })

            // 모달 - 품목 탭 클릭 -> toastGrid 새로고침 , button type hidden
            document.querySelector('#contractItem-tab').addEventListener('click',function () {
                clearGrid(); // 중복생성 그리드 제거
                refreshToastGrid();
            })

            // 유효성 검사 (미사용)
            function validation() {
                /**
                 * @을 기준으로 앞 구간이 알파벳 or 숫자 조합으로 이루어져 있는지 체크
                 * @을 기준으로 뒷 구간이 알파벳 or 숫자 조합으로 이루어져 있는지 체크
                 * @을 기준으로 뒷 구간에서 . 뒷 구간이 알파벳 or 숫자 조합으로 이루어져 있는지 체크
                */
                const emailPattern = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-za-z0-9\-]+/;
                /**
                 * -(하이픈)을 기준으로 첫번째 구간이 01[0,1,6,7,8,9](핸드폰), 02(집), 030~099(지역) 중 하나인지 체크
                 * -(하이픈)을 기준으로 두번째 구간이 숫자 3~4 자리로 이루어져 있는지 체크
                 * -(하이픈)을 기준으로 세번째 구간이 숫자 4자리로 이루어져 있는지 체크
                */
                const telPattern = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?[0-9]{3,4}-?[0-9]{4}$/;

                
                let email = document.querySelector('#email').value();
                let companyTel = document.querySelector('#employeeTel').value();
                let clientTel = document.querySelector('#employeeTel').value();

                if(telValidChk(companyTel) == false || telValidChk(clientTel)) {
                    alert('올바른 전화번호 형식이 아닙니다.')
                    return;
                }
            }

            fetch('/api/business/client')
            .then(result => result.json())
            .then(clientList => {
                console.log(clientList)
                grid = makeClientToastGrid(clientList);
                grid.on('click', (event) => { // grid 클릭이벤트 발생
                    if(event.columnName === 'clientName' && event.rowKey>=0) {
                        let clientCode = grid.getValue(event.rowKey,"clientCode");
                        // 거래처 상세 조회 모달
                        
                        clearGrid();
                        fetchClientCode(clientCode);
                        // 클라이언트 상세 정보 모달
                        clientDetailModal.show();                
                    }
                })
            });

        });

        
    </script>

</body>

</html>