<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/account_layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <title>매입전표</title>

    <style>
      /* 전체 컨테이너*/
      .content {
        background-color: #fff;
        padding: 1rem;
      }

      /* 그리드 전 form 관련 높이, 글자크기 */
      .form-control,
      .form-select,
      .input-group-text {
        height: 48px;
        font-size: 1rem !important;
      }

      /* 그리드 전 form 제목 길이 지정 */
      .input-group-text {
        width: 130px;
      }

      /* 버튼 그룹 기본 설정 */
      .btn-group {
        display: flex;
        gap: 5px; /* 버튼 간 간격 */
        font-size: 18px;
        margin-bottom: 10px;
      }

      /* 그리드 위 영역 */
      .grid-controls {
        display: flex;
        justify-content: flex-start; /* 양쪽 끝으로 버튼 그룹 배치 */
        align-items: center;
        margin-top: 50px;
      }

      .input-group-text {
        font-weight: bold;
        color: #5a5c69;
        /*background-color: #f0f4ff;*/
      }

      .btn img {
        width: 20px;
        height: 20px;
      }

      .color {
        background-color: #ffebee;
      }

      input:read-only {
        background-color: #eee !important;
      }
    </style>
  </head>

  <body>
    <div class="bg-white shadow-sm rounded" style="padding: 20px">
      <div class="border-bottom pb-3 mb-4">
        <h1>매입전표</h1>
      </div>
      <!-- 전체 컨테이너 -->
      <div class="content">
        <form name="purchaseForm">
          <!-- 전표일자 및 전표No -->
          <div class="row mb-3">
            <!-- 전표일자 -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text">전표일자</span>
                <input type="date" class="form-control" name="p_date" />
              </div>
            </div>
            <!-- 전표No -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text">전표 No.</span>
                <input type="text" class="form-control" readonly="readonly" name="p_no" value="-" />
              </div>
            </div>
          </div>

          <!-- 연결전표 및 거래처 -->
          <div class="row mb-3">
            <!-- 연결전표 -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text">연결전표</span>
                <input type="text" class="form-control" placeholder="구매전표 내역보기" name="p_joinInput" id="p_joinInput" />
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#purchaseModal" id="openPurchaseModal">
                  <span><img alt="돋보기" src="/img/icon/glasses.png" /></span>
                </button>
              </div>
            </div>
            <!-- 거래처 -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text">거래처</span>
                <input type="text" class="form-control" placeholder="거래처 선택" name="p_clientName" id="p_clientInput" readonly="readonly" />
                <input type="text" style="display: none" id="p_clientInput2" name="p_clientCode" />
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#clientModal" id="p_openClientModal">
                  <span><img alt="돋보기" src="/img/icon/glasses.png" /></span>
                </button>
              </div>
            </div>
          </div>

          <!-- 부가세 유형 및 세금계산서 구분 -->
          <div class="row mb-3">
            <!-- 부가세 유형 -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text">부가세 유형</span>
                <select class="form-select">
                  <option value="과세" selected="selected">과세</option>
                  <option value="면세">면세</option>
                  <option value="영세">영세</option>
                </select>
              </div>
            </div>
            <!-- 계정명 -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text">계정명</span>
                <input type="text" class="form-control" placeholder="회계계정 선택" name="p_acctName" id="p_acctInput" readonly="readonly" />
                <input type="text" style="display: none" id="p_acctInput2" name="p_acctCode" />
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#acctModal" id="p_openAcctModal">
                  <span><img alt="돋보기" src="/img/icon/glasses.png" /></span>
                </button>
              </div>
            </div>
          </div>

          <!-- 공급가액/부가세 -->
          <div class="row mb-3">
            <!-- 공급가액 -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text color">공급가액</span>
                <input type="text" class="form-control" placeholder="공급가액" name="p_price" id="p_price" />
              </div>
            </div>
            <!-- 부가세 -->
            <div class="col-md-4">
              <div class="input-group input-group-sm">
                <span class="input-group-text color">부가세</span>
                <input type="text" class="form-control" placeholder="부가세" name="p_vat" />
              </div>
            </div>
          </div>

          <!-- 총 금액 -->
          <div class="row mb-3">
            <div class="col-md-8">
              <div class="input-group input-group-sm">
                <span class="input-group-text color">합계</span>
                <input type="text" class="form-control" name="p_amount" id="p_amount" placeholder="합계" />
              </div>
            </div>
          </div>

          <!-- 적요 -->
          <div class="row mb-3">
            <div class="col-md-8">
              <div class="input-group input-group-sm">
                <span class="input-group-text">적요</span>
                <input type="text" id="p_summary" class="form-control" name="p_summary" placeholder="적요" />
              </div>
            </div>
          </div>

          <!-- 버튼 구역 -->
          <div class="grid-controls">
            <!-- 버튼 그룹 -->
            <div class="btn-group rigth">
              <button type="reset" class="btn btn-secondary">다시 작성</button>
              <!-- 리스트로 이동하는 버튼 -->
              <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/sales/selectSlipView}'|">전표관리</button>
              <button type="button" class="btn btn-success" id="save-btn">저장</button>
            </div>
          </div>
        </form>
      </div>
      <!-- 전체 컨테이너 끝 -->
    </div>

    <!-- 거래처 검색 모달 HTML -->
    <div class="modal fade" id="p_clientModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">거래처검색</h5>
          </div>
          <div class="modal-body p-0">
            <div id="p_clientGrid"></div>
          </div>
          <div class="modal-footer justify-content-between">
            <p class="msg"><small>※ 거래처코드를 클릭하여 입력해주세요.</small></p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 회계 계정 검색 모달 HTML -->
    <div class="modal fade" id="p_acctModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">회계 계정 검색</h5>
          </div>
          <div class="modal-body p-0">
            <div id="p_acctGrid"></div>
          </div>
          <div class="modal-footer justify-content-between">
            <p class="msg"><small>※ 회계코드를 클릭하여 입력해주세요.</small></p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 구매전표 모달 HTML -->
    <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">구매전표</h5>
          </div>
          <div class="modal-body">
            <div class="d-flex justify-content-left mb-3">
              <div>
                <button class="btn btn-secondary filter-item" data-state="r1">미발행 건 보기</button>
                <button class="btn btn-success filter-item" data-state="r2">발행완료 건 보기</button>
              </div>
            </div>

            <div id="purchaseGrid"></div>
          </div>
          <div class="modal-footer justify-content-between">
            <div>
              <p class="msg"><small>※ 매입전표를 발행할 전표No.를 클릭하여 입력해주세요.</small></p>
            </div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/js/account/purchaseSlip.js}"></script>
  </body>
</html>
