<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/account_layout}"
      layout:fragment="Content">
  <head>
    <meta charset="UTF-8" />
    <title>매출전표</title>
    
    <style>
    
	  /* 전체 컨테이너*/    
      .content {
        background-color: #fff;
        padding: 1rem;
      }

	  /* 그리드 전 form 관련 높이, 글자크기 */
      .form-control,
      .form-select,
      .input-group-text {
        height: 48px;
        font-size: 1rem !important;
      }
      
	/* 그리드 전 form 제목 길이 지정 */
      .input-group-text {
        width: 130px;
      }

       /* 버튼 그룹 기본 설정 */
	  .btn-group {
	    display: flex;
	    gap: 5px; /* 버튼 간 간격 */
	    font-size: 18px;
	    margin-bottom: 10px;
	  }
	
	  /* 버튼 그룹 왼쪽 */
	  .btn-group.left {
	    justify-content: flex-start; /* 왼쪽 정렬 */
	  }
	
	  /* 버튼 그룹 오른쪽 */
	  .btn-group.right {
	    justify-content: flex-end; /* 오른쪽 정렬 */
	  }
	
	  /* 그리드 위 영역 */
	  .grid-controls {
	    display: flex;
	    justify-content: space-between; /* 양쪽 끝으로 버튼 그룹 배치 */
	    align-items: center;
	    margin-top:50px;
	  }
	  
	 /* 그리드 합계 부분 오른쪽 정렬 */
  	.tui-grid-summary-area .tui-grid-cell, tui-grid-cell-content {
    	text-align: right;
		}

    </style>
    
  </head>
  
  <body>
  
  <!-- 전체 컨테이너 -->
    <div class="content">
      <form>
      
        <!-- 전표일자 및 전표No -->
        <div class="row mb-3">
        <!-- 전표일자 -->
          <div class="col-md-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">전표일자</span>
              <input type="date" class="form-control" />
            </div>
          </div>
          <!-- 전표No -->
          <div class="col-md-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">전표 No.</span>
              <input type="text" class="form-control" readonly="readonly"/>
            </div>
          </div>
        </div>

        <!-- 연결전표 및 거래처 -->
        <div class="row mb-3">
        <!-- 연결전표 -->
          <div class="col-md-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">연결전표</span>
              <input
                type="text"
                class="form-control"
                placeholder="재고전표내역보기"
              />
              <button class="btn btn-outline-secondary" type="button">
                Fn
              </button>
            </div>
          </div>
          <!-- 거래처 -->
          <div class="col-md-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">거래처</span>
              <input
                type="text"
                class="form-control"
                placeholder="거래처 선택"
              />
              <button class="btn btn-outline-secondary" type="button">
                Fn
              </button>
            </div>
          </div>
        </div>

        <!-- 부가세 유형 및 세금계산서 구분 -->
        <div class="row mb-3">
        <!-- 부가세 유형 -->
          <div class="col-md-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">부가세 유형</span>
              <select class="form-select">
                <option>세금계산서</option>
                <option>영수증</option>
              </select>
            </div>
          </div>
          <!-- 세금계산서 구분 -->
          <div class="col-md-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">세금계산서 구분</span>
              <input
                type="text"
                class="form-control"
                placeholder="전자(세금)계산서-신규"
              />
            </div>
          </div>
        </div>

        <!-- 적요 -->
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="input-group input-group-sm">
              <span class="input-group-text">적요</span>
              <input type="text" class="form-control" />
            </div>
          </div>
          </div>
		
	<!-- 버튼 구역 -->
    <div class="grid-controls">
		<!-- 버튼 그룹 (그리드 위 왼쪽) -->
      <div class="btn-group left">
        <button type="button" class="btn btn-success" id="add-item-btn">+ 항목 추가</button>
        <button type="button" class="btn btn-danger" id="delete-item-btn">- 선택 삭제</button>
      </div>
       
       <!-- 버튼 그룹 (그리드 위 오른쪽) -->
      <div class="btn-group rigth">
        <button type="button" class="btn btn-success" id="save-btn">저장</button>
        <button type="button" class="btn btn-secondary">다시 작성</button>
        <!-- 리스트로 이동하는 버튼 -->
        <button type="button" class="btn btn-secondary">전표관리</button>
      </div>
  </div>
  
	<!-- 그리드 -->
	<div id="grid"></div>
          
    </form>
    
   </div> <!-- 전체 컨테이너 끝 -->


        
    <!-- 토스트 공통 js -->
	<script th:src='@{/js/index/toast.js}'></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
    	  
    	  // 그리드 데이터
    	  const gridData = [
    		  {
    		    itemName: '',        // 품목
    		    unitPrice: 0,        // 단가
    		    supplyAmount: 0,     // 공급가액
    		    vat: 0,              // 부가세
    		    totalAmount: 0,      // 총 금액
    		  },
    		  {
      		    itemName: '',        // 품목
      		    unitPrice: 0,        // 단가
      		    supplyAmount: 0,     // 공급가액
      		    vat: 0,              // 부가세
      		    totalAmount: 0,      // 총 금액
      		  },
    		  {
      		    itemName: '',        // 품목
      		    unitPrice: 0,        // 단가
      		    supplyAmount: 0,     // 공급가액
      		    vat: 0,              // 부가세
      		    totalAmount: 0,      // 총 금액
      		  },
    		];
    	  

		 
    	  // 그리드 초기화
    	  const grid = new tui.Grid({
    	    el: document.querySelector('#grid'),  // 그리드 표시 위치
    	    data: gridData,  // 초기 데이터
    	    scrollX: true,   // 가로 스크롤 사용
    	    scrollY: true,   // 세로 스크롤 사용
    	    columns : [
    	    	  {
    	    	    header: "계정명", // 계정명
    	    	    name: "accountName",
    	    	    editor: "text",         // 텍스트 입력 가능
    	    	    align: "left",
    	    	  },
    	    	  {
    	    	    header: "공급가액", // 공급가액
    	    	    name: "supplyAmount",
    	    	    editor: {
        	        	type:gridNumber
        	        },
    	    	    align: "right",
    	    	  },
    	    	  {
    	    	    header: "부가세",          // 부가세
    	    	    name: "vat",
    	    	    editor: {
        	        	type:gridNumber
        	        },
    	    	    align: "right",
    	    	  },
    	    	  {
    	    	    header: "적요",  // 적요
    	    	    name: "description",
    	    	    editor: "text",          // 텍스트 입력 가능
    	    	    align: "left",
    	    	  },
    	    	],
    	    summary: {
    	        height: 40,
    	        position: 'bottom', // or 'top'
    	        columnContent: {
    	        	unitPrice: {
    	            template: function(valueMap) {
    	              return `${valueMap.sum}`;
    	            }
    	          },
    	          supplyAmount: {
    	            template: function(valueMap) {
    	              return `${valueMap.sum}`;
    	            }
    	          },
  	        	vat: {
    	            template: function(valueMap) {
    	              return `${valueMap.sum}`;
    	            }
    	          },
    	          totalAmount: {
    	            template: function(valueMap) {
    	              return `${valueMap.sum}`;
    	            }
    	          },
    	          accountName: {
      	            template: function(valueMap) {
      	              return `합계`;
      	            }
      	          },
    	          
    	        }
    	      },
    	
    	    rowHeaders: ['rowNum', 'checkbox'], // 행 번호와 체크박스 표시
    	  });


    	  // 그리드 클릭 이벤트 -> 추후 내가 필요한대로 수정
    	  grid.on('click', (event) => {
    	    if (event.columnName === 'debentureNo' && event.rowKey >= 0) {
    	      console.log('클릭이벤트 발생');
    	      console.log(event.rowKey);  // 클릭한 행의 키 값 출력
    	    }
    	  });

        // 모달 띄우기 -> 추후 수정
        document.querySelectorAll(".select-modal").forEach(function (btn) {
          btn.addEventListener("click", function () {
            const modalId = btn.getAttribute("data-bs-target").substring(1);
            const modal = new bootstrap.Modal(document.getElementById(modalId));
            modal.show();
          });
        });
      });
    </script>
    
  </body>
  
</html>
