<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/account_layout}"
      layout:fragment="Content">
  <head>
    <meta charset="UTF-8" />
 <title>전표 관리</title>
 
	<style>
	
		/* 매출전표는 파랑색 */	
	  .sales {
	    background-color: #e0f7fa !important; /* 밝은 파랑색 */
	  }
	
		/* 매입전표는 빨간색 */	
	  .purchase {
	    background-color: #ffebee !important; /* 밝은 빨강색 */
	  
	  }

	  
	</style>
	
  </head>
  
  <body>
  
  <!-- 전체 페이지 컨테이너 -->
    <div class="container-fluid p-3">
    
    	<!-- 그리드 위 구역 -->
      <div class="d-flex justify-content-between align-items-center mb-3">
      
      <!-- 버튼 그룹 -->
      <div class="button-group mt-3">
        <button type="button" class="btn btn-success btn">신규 등록</button>
        <button type="button" class="btn btn-danger btn">선택 삭제</button>
        <button type="button" class="btn btn-secondary btn">인쇄</button>
        <button type="button" class="btn btn-secondary btn">Excel</button>
      </div>
      
       <!-- 조회 기간 -->
        <!-- <span class="date-range">2024/05/01 ~ 2024/12/15</span> -->
      
     </div> <!-- 그리드 위 구역 끝. -->

	  <!-- 그리드 -->
	  <div id="grid"></div>
	  
	  <!-- 페이지네이션 -->
	  <div id="pagination" class="tui-pagination"></div> 


      
    </div> <!-- 전체 페이지 컨테이너 끝. -->

	<script th:src="@{/js/account/statement.js}"></script>
    
  </body>
  
</html>
