<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/account_layout}"
      layout:fragment="Content">
<head>
  <!-- <link rel="tableStyle.css" /> -->
  <title>CatchERP</title>
  <style>
    .modal-header {
        background-color: #AACB73;
        color: white;
    }
    .modal-dialog {
        max-width: 800px;
    }
  </style>
</head>
<body>
  <!-- Search Section -->
 <div class="bg-white shadow-sm rounded" style="padding: 20px;">
  <div class="border-bottom pb-3 mb-4">
    <h2>계좌 리스트</h2>
  </div>
  <button type="button" class="btn btn-success" id="newAcc" data-bs-toggle="modal" data-bs-target="#accountAddModal" style="margin-bottom: 10px;">신규(F2)</button>
  <div class="gridWrapper">
    <div id="grid"></div>
    <div id="pagination" class="tui-pagination"></div> <!-- 페이징 ui -->
  </div>
  
  <!-- 통장계좌등록 모달 -->
  <div class="modal fade" id="accountAddModal" tabindex="-1" aria-labelledby="accountRegistrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <form th:action="@{/bacct/insertBacct}" method="post" name="insertForm">
            <div class="modal-header">
                <h5 class="modal-title" id="accountRegistrationModalLabel">통장계좌등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            	<div class="mb-3">
                  <label for="bankName" class="form-label">은행명</label>
                  <select class="form-select" id="bankName" name="bankName">
                        <!-- 은행 목록 fetch 동적 추가 -->
                  </select>
                </div>
                <div class="mb-3">
                    <label for="accountCode" class="form-label">계좌번호</label>
                    <input type="text" class="form-control" id="bacctNo" name="bacctNo" placeholder="계좌번호">
                </div>
                <div class="mb-3">
                    <label for="accountName" class="form-label">계좌명</label>
                    <input type="text" class="form-control" id="bacctName" name="bacctName" placeholder="계좌명">
                </div>
                <div class="mb-3">
                    <label for="remarks" class="form-label">적요</label>
                    <textarea class="form-control" id="summary" name="summary" rows="3" placeholder="적요"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveButton">저장(F8)</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </form>
        </div>
    </div>
  </div>
  <!-- 통장계좌수정(상세) 모달 -->
  <div class="modal fade" id="accountDetailModal" tabindex="-1" aria-labelledby="accountRegistrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <form th:action="@{/bacct/updateBacct}" method="post" name="updateForm">
          	<input type="hidden" id="bacctCode" name="bacctCode">
            <div class="modal-header">
                <h5 class="modal-title" id="accountRegistrationModalLabel">통장계좌상세</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            	<div class="mb-3">
                  <input type="text" class="form-control" id="bankName" name="bankName" placeholder="은행명" readonly="readonly">
                </div>
                <div class="mb-3">
                    <label for="accountCode" class="form-label">계좌번호</label>
                    <input type="text" class="form-control" id="bacctNo" name="bacctNo" placeholder="계좌번호" readonly="readonly">
                </div>
                <div class="mb-3">
                    <label for="accountName" class="form-label">계좌명</label>
                    <input type="text" class="form-control" id="bacctName" name="bacctName" placeholder="계좌명">
                </div>
                <div class="mb-3">
                    <label for="remarks" class="form-label">적요</label>
                    <textarea class="form-control" id="summary" name="summary" rows="3" placeholder="적요"></textarea>
                </div>
                <!-- <div class="mb-3">
                  <label for="useable" class="form-label">계좌사용여부</label>
                    <select class="form-select" id="useable">
                        <option selected>사용중</option>
                        <option selected>사용중지</option>
                    </select>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="updateButton">수정</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </form>
        </div>
    </div>
  </div>
 </div>
  <script>
  //toast ui data값 입력(추후 db와 연결해서 값 출력해아함)
  document.addEventListener('DOMContentLoaded', function() {
    let grid;

    function makeBacctToastGrid(result) {
      const grid = new tui.Grid( { // 브라우저 환경에서 네임 스페이스 이용(new tui.Grid)
        el: document.querySelector('#grid'),
        data: result, // toast ui table 에 입력할 데이터값
        scrollX: true,
        scrollY: true, // 가로, 세로 스크롤 사용 유무 판단
        pageOptions: {
          useClient: true,
          perPage: 13
        },
        rowHeaders: [
	          {
	            type: 'checkbox',
	            header: `
	              <span class="custom-input">
	              <input type="checkbox" id="all-checkbox" class="hidden-input" name="_checked" />
	            	<label for="all-checkbox" class="checkbox selectCheck">✔</label>
	          	</span>
	          `,
	            renderer: {
	              type: gridCheckbox
	            }
	          }
	      ],
        columns: [
		          {
		              header: '계좌코드',
		              name: 'bacctCode',
		              sortable: true,
		              align: 'center',
		              hidden: 'true'
		          },
              {
                  header: '계좌번호',
                  name: 'bacctNo',
                  sortable: true,
                  align: 'center'
              },
              {
                  header: '계좌명',
                  name: 'bacctName',
                  sortable: true,
                  filter: 'select',
                  align: 'left'
              },
              {
                  header: '은행명',
                  name: 'bankName',
                  sortable: true,
                  align: 'left'
              },
              {
                  header: '적요',
                  name: 'summary',
                  sortable: true,
                  align: 'left'
              },
              {
                  header: '사용여부',
                  name: 'useable',
                  //formatter: 'listItemText',
                  editor: {
                    type: 'select',
                    options: {
                      listItems: [
                        { text: '사용중', value: '사용중'},
                        { text: '사용중지', value: '사용중지'}
                      ]
                    }
                  }
              }
          ]
      });
    }
    fetch('/api/account/bacct')
    .then(result => result.json())
    .then(result => {
      //Bacct Grid
      makeBacctToastGrid(result);
      // js로 모달창을 열어야 할 경우 모달을 변수에 등록하여 show(), hide()를 활용해 열/닫기 구현
      const addAccountModal = new bootstrap.Modal(document.querySelector('#accountAddModal')); // 상품 상세(수정) 모달
      const detailAccountModal = new bootstrap.Modal(document.querySelector('#accountDetailModal')); // 상품 상세(수정) 모달


      document.querySelector('#newAcc').addEventListener('click', function () { // 신규생성모달 초기화
        document.querySelector('#bacctNo').value = '';
        document.querySelector('#bacctName').value = '';
        document.querySelector('#bankName').value = '';
        document.querySelector('#summary').value = '';
        addAccountModal.show();
      }); 

      grid.on('click', (event) => { // grid 클릭이벤트 발생 -> 계좌수정모달
    	  console.log(grid.getValue(event.rowKey,"bacctCode"));
        if(event.columnName === 'bacctNo' && event.rowKey>=0) {
          document.updateForm.querySelector('#bacctCode').value = grid.getValue(event.rowKey,"bacctCode");
          document.updateForm.querySelector('#bacctNo').value = grid.getValue(event.rowKey,"bacctNo");
          document.updateForm.querySelector('#bacctName').value = grid.getValue(event.rowKey,"bacctName");
          document.updateForm.querySelector('#bankName').value = grid.getValue(event.rowKey,"bankName");
          document.updateForm.querySelector('#summary').value = grid.getValue(event.rowKey,"summary");
          detailAccountModal.show();
        }
      })
      // 신규 계좌 생성 모달
      // 저장 버튼 클릭 이벤트
      saveButton.addEventListener('click', function() {
        console.log('계좌 등록 시작');
        //event.preventDefault(); // 이벤트 일시 정지

          let bankName = document.insertForm.querySelector('#bankName');
          if(bankName.value == '') {
            alert('은행을 선택해주세요.');
            bankName.focus();
            return;
          }
          let bacctNo = document.insertForm.querySelector('#bacctNo');
          if(bacctNo.value == '') {
            alert('계좌번호를 입력하세요.');
            bacctNo.focus();
            return;
          }
          let bacctName = document.insertForm.querySelector('#bacctName');
          if(bacctName.value == '') {
            alert('계좌명을 입력하세요.');
            bacctName.focus();
            return;
          }

          document.insertForm.submit();
      });
   	  // 계좌 수정 모달
      updateButton.addEventListener('click', function() {
          alert('계좌 수정이 완료되었습니다.');
      });
    })

    fetch('/api/account/bank')
    .then(result => result.json())
    .then(result=> {
      let selectBank = insertForm.querySelector('#bankName');
      let layout = '';
      result.forEach(bank => {
        layout = `<option value=${bank.codeRule}>${bank.commonName}</option>`;
        selectBank.insertAdjacentHTML('beforeend', layout);
      });
    })
  })
    
  </script>
</body>
</html>