<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/stack_layout}"
      layout:fragment="Content"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>자재 조회/관리</title>	    	    
	    <link rel="stylesheet" th:href="@{/css/stock/stockInquery.css}" />
	    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
	</head>
	<body>
		<input id="employeeName" th:value="${#authentication.principal.employeeLoginVO.name}" style="display:none;"></input> <!-- 시큐리티에 담긴 이름 hidden에다 넣어놈 -->
        <input id="employeeImage" th:value="${#authentication.principal.employeeLoginVO.employeeImage}" style="display:none;"></input> <!-- 시큐리티에 담긴 사진 hidden에다 넣어놈 -->
	
	    <div class="bg-white rounded kwBorder">
	    			
	        <!-- Header -->
	        <div class="border-bottom pb-3 mb-4">
	        		<h1>자재 조회/관리</h1>
	        </div>
	        <!-- <ul class="nav nav-tabs" id="mainTab" role="tablist">
	        	
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="itemList-tab" data-bs-toggle="tab"
                        data-bs-target="#itemList" type="button" role="tab" aria-controls="itemList"
                        aria-selected="true">재고&상품 조회</button>
                </li>
                 <li class="nav-item" role="presentation">
                    <button class="nav-link" id="#itemAnalysis-tab" data-bs-toggle="tab" 
                        data-bs-target="#itemAnalysis" type="button" role="tab" aria-controls="itemAnalysis"
                        aria-selected="false">재고분석</button>
                </li> 
            </ul> -->
            
            <div class="tab-content" id="mainTabContent"> <!-- 메인탭시작 -->
			    <div class="tab-pane fade show active" id="itemList" role="tabpanel"
			        aria-labelledby="itemList-tab"> <!-- 첫번째 탭 시작 -->
			        <!-- Form -->
			        <div class="card col-md-12 ">
			          <form class="bg-light p-4 rounded card-body kwBorder" id="searchForm" >
			                   <div class="row g-3">       
			                          	<div class="col-md-3 g-3">
			                              <label class="form-label">거래처</label>
			                              <div class="input-group">
			                                  <input type="text" class="form-control" id="clientInput" name="clientInput">
			                                  <input type="text" style="display:none;" class="form-control" id="clientHiddenInput" name="clientHiddenInput">
			                                  <!-- 거래처 모달 트리거 버튼 -->
			                                  <button type="button" class="btn btn-outline-secondary mBtn" data-bs-toggle="modal" data-bs-target="#clientModal" id="openClientModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
			                                  </svg></button>
			                              </div>
			                          	</div>
			                                       
			                          <div class="col-md-3">
			                            <label class="form-label">품목명</label>
			                            <div class="input-group">
			                                <input type="text" class="form-control" id="itemInput" name="itemInput">
			                                <input type="text" style="display:none;" class="form-control" id="itemHiddenInput" name="itemHiddenInput">
			                                <button type="button" class="btn btn-outline-secondary mBtn" data-bs-toggle="modal" data-bs-target="#searchItemModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
			                                  </svg></button>
			                            </div>
			                          </div>
			                  
			                  
			                  	  <div class="col-md-2">
				                      <label class="form-label">입력단가</label>
				                      <div class="input-group">
				                          <div class="price-input">
				                              <input type="number" class="form-control" placeholder="0" name="minPrice"> 
				                          </div>
				                      </div>
			                      </div>
			                      <div class="col-md-2" >
			                      	<div >
			                          <label class="form-label" ><p></p></label>
			                          <div class="input-group">
				                          <div class="price-input">
				                              <input type="number" class="form-control" placeholder="0" name="maxPrice">
				                          </div>
			                          </div>
			                         </div>
			                      </div>
			                      <div class="col-md-2">
			                      	<p></p>
			                      </div>
			                      
			              	</div>
			              <div style="margin-top: 10px;">
			                <button type="button" class="btn btn-primary" id="inqueryBtn">조회하기</button>
			              </div>
			          </form>
			        </div>	
			        	        
			        <!-- 재고조회 및 조정 페이지의 출력 될 Table -->
			        <div class="table-responsive">
			            <div id="wrap">
			                <div id="inqueryGrid"> </div>
			                <div id="pagination" class="tui-pagination"></div>
			            </div>
			        </div>
				        
			    </div>
		    </div> <!-- 첫번째 탭 End Point -->
		    	
		    <div class="tab-pane fade" id="itemAnalysis" role="tabpanel"
        									aria-labelledby="itemAnalysis-tab"> <!-- 두번째 탭 시작 -->
        		<div class="row d-flex flex-row-reverse" style="margin-right: 20px;">
        			<!-- 토스트 차트 => 보류,시간부족 --> 
	        		<!-- <div class=" col-md-8 col-lg-8 col-sm-8" style="border-left: 1px solid #dee2e6; border-left: 1px solid #dee2e6; padding:0px; margin-left:13px;">
					     	<div id="statisticsChart" style="width: 100%; height: 400px; "></div>
			     	</div> -->
			     		
			     	<div class="row d-flex flex-column col-md-4 col-lg-4 col-sm-4" style="height: 400px; padding:0;">			     		
			     			
			     			<div class="h-auto d-flex clientFlexBox " style="padding:0;">		     				
			     					<div class="col-md-12 row">
			     						<small style="margin-top: 4px; font-weight:700;">거래처</small>
					     						                                                         
			                                  <!-- 거래처 모달 트리거 버튼 -->
			                                  <div class="input-group">
			                                  <input type="text" id="clientInput2"readonly placeholder="거래처를 선택하세요.">
			                                  <input type="text" style="display:none;" class="form-control" id="clientHiddenInput2" name="clientHiddenInput2">
			                                  <button type="button" class="btn btn-outline-secondary mBtn" data-bs-toggle="modal" data-bs-target="#clientModal2" id="openClientModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
			                                  </svg></button>
			                                  </div>
			                         </div>
				     			</div>
				     		
			     			<div class="h-75 d-flex flex-row itemFlexBox overflow-auto" style="padding:0;">
			     				<small class="itemFlexBox d-flex align-items-center justify-content-center" id ="smallTag">품목</small>
			     				<div id="itemListBox" class="itemFlexBox" style="margin-left: 10px; display:block; flex-grow: 1;">
				     				
				     				<th:block th:each="test, i : ${#numbers.sequence(1,40)}">
									    <div class="form-check d-flex align-items-center" style="margin-bottom: 10px;">
									        <input class="form-check-input" type="checkbox" 
									               th:id="'checkbox' + ${i.index}" 
									                
									               style="margin-right: 10px;">
									        <label class="form-check-label" 
									               th:for="'checkbox' + ${i.index}" 
									               style="font-size: 14px; color: gray;" 
									               th:text="'dddddd'">
									            <!-- 텍스트  -->
									        </label>
									    </div>
									</th:block>
									
			     				</div>
			     			</div>
			     			
			     			<div class="h-auto d-flex periodFlexBox" style="padding:0;">
			     				<small style="margin-top: 4px; text-align: center; line-height:20px; font-weight:700">기간 설정</small>
			     				
				     				<select id="sort-direction" style="margin-top: 4px; margin-left:5px;">
	                                    <option value="asc" selected>년도</option>
	                                    <option th:each="year : ${#numbers.sequence(2024, 2014)}" 
									           th:value="${year}" 
									           th:text="${year}">
									    </option>
	                                </select>
	                                <select id="sort-direction" style="margin-top: 4px; margin-left:5px;">
	                                    <option value="asc" selected>시작월</option>
	                                    <option th:each="year : ${#numbers.sequence(1, 12)}" 
									           th:value="${year}" 
									           th:text="${year}">
									    </option>
	                                </select>
	                                <select id="sort-direction" style="margin-top: 4px; margin-left:5px;">
	                                    <option value="asc" selected>종료월</option>
	                                    <option th:each="year : ${#numbers.sequence(1, 12)}" 
									           th:value="${year}" 
									           th:text="${year}">
									    </option>
	                                </select>
	                                <button class="btn btn-primary" style="margin-top: 4px; margin-left:40px;">조회</button>
	                           
			     			</div>
			     				     		
			     	</div>
		     	</div>
		     	<div class="row">
				     	<div id="statisticsGrid"></div>
		     	</div>
			</div> <!-- 두번째 탭 End Point -->
			
	    </div> <!-- mainTab End Point -->
	    
	    <!-- 거래처 검색 모달 HTML -->   
	    <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-lg">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="modalLabel" style="font-size:18.2px;">거래처검색</h5>
	                   
	                </div>               
	                <div class="modal-body p-0">
	                    <div id="clientGrid">
	                    </div>
	                </div>
	                <div class="modal-footer justify-content-between" >
	                    <p><small style="color: red;">※거래처명을 클릭하여 입력하세요.</small></p>
	                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <!-- 거래처 검색 모달 HTML -->   
	    <!-- <div class="modal fade" id="clientModal2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-lg">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="modalLabel2" style="font-size:18.2px;">거래처검색</h5>
	                   
	                </div>               
	                <div class="modal-body p-0">
	                    <div id="clientGrid2">
	                    </div>
	                </div>
	                <div class="modal-footer justify-content-between" >
	                    <p><small style="color: red;">※거래처명을 클릭하여 입력하세요.</small></p>
	                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                </div>
	            </div>
	        </div>
	    </div> -->
	    
	   	<!-- 상품 검색 모달 HTML -->
	    <div class="modal fade" id="searchItemModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="modalLabel" style="font-size:18.2px;">품목 조회</h5>
	                    
	                </div>
	                <div class="modal-body">                  
	                    
	                    <div id="itemGrid"></div>
	                </div>
	                <div class="modal-footer justify-content-between">
	                   	<p><small style="color:red;">※품목코드를 클릭하여 입력하세요.</small></p>
	                    <div>	                        
	                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>	    	   	  	    
	     	    
	    <!-- 거래처 상세(수정) 모달창 -->
		<div class="modal fade" id="itemInfoModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
			    <div class="modal-dialog modal-xl ">
			        <form method="post" name="updateItemForm">
			            <div class="modal-content" >
			                <div class="modal-header">
			                    <h5 class="modal-title" id="itemInfoModal" style="font-size:18.2px;">자재 상세</h5>
			                </div>
			                <div class="d-flex flex-wrap">
				                <div class="modal-body col-lg-6 col-sm-12 col-md-12 ">
				                    <ul class="nav nav-tabs" id="itemInfoTabs" role="tablist">
				                        <li class="nav-item" role="presentation">
				                            <button class="nav-link active" id="detail-tab" data-bs-toggle="tab"
				                                data-bs-target="#info" type="button" role="tab" aria-controls="detail"
				                                aria-selected="true">기본</button>
				                        </li>
				                    </ul>
								
				                    <div class="tab-content mt-3" id="customerTabContent ">
				                    
				                        <!-- 상품 상세정보 --> <!-- 첫번째 탭 -->
				                        <div class="tab-pane fade show active" id="info" role="tabpanel"
				                            aria-labelledby="detail-tab">
				                            <!-- <input type="hidden" id="clientCode" name="clientCode"> -->
				                            <div class="mb-3 row">
				                            	<div class=" col-sm-6 col-md-6 input-group input-group-sm" >
				                                	<label for="customerName"  class="text-center input-group-text col-sm-3 col-md-4 col-form-label">거래처명[거래처코드]</label>				                               
				                                    <input type="text" class="text-end form-control" id="clientNameAndCode" name="clientNameAndCode" readonly>			                     
				                                </div>
				                            </div>
				                            <div class="mb-3 row">
				                            	<div class=" col-sm-6 col-md-6 input-group input-group-sm">
				                                	<label for="customerName" class="text-center input-group-text col-sm-3 col-md-4 col-form-label">계약번호</label>
				                                    <input type="text" class="text-end form-control" id="conNo" name="conNo" readonly>
				                                </div>
				                            </div>
				                            <div class="mb-3 row">
				                            	<div class=" col-sm-6 col-md-6 input-group input-group-sm">
				                                	<label for="representativeName" class="text-center input-group-text col-sm-3 col-md-4 col-form-label">품목명</label>				                                
				                                    <input type="text" class="text-end form-control" id="itemName" name="itemName"  readonly>
				                                </div>
				                            </div>
				                            <div class="mb-3 row">
				                            	<div class=" col-sm-6 col-md-6 input-group input-group-sm">
				                                	<label for="representativeName" class="input-group-text col-sm-2 col-md-4 col-form-label">품목코드</label>
				                                    <input type="text" class="text-end form-control" id="itemCode" name="itemCode" readonly>
				                                </div>
				                            </div>
				                            <div class="mb-3 row">
				                            	<div class=" col-sm-6 col-md-6 input-group input-group-sm">
				                                	<label for="industry" class="input-group-text col-sm-2 col-md-4 col-form-label">단가</label>
				                                    <input type="text" class="text-end form-control" id="price" name="price" readonly>
				                                </div>
				                            </div>
				                           
				                            <div class="mb-3 row">
				                            	<div class=" col-sm-6 col-md-6 input-group input-group-sm">
				                                	<label for="category" class="input-group-text col-sm-3 col-md-4 col-form-label">계약 기간</label>
				                                    <input type="text" class="text-end form-control" id="contractPeriod" name="contractPeriod" readonly>
				                                </div>
				                            </div>
				                            
				                            
											<div>
												<small style="color: green">※창고별 현재 수량</small>
											</div>
				                            <div class="mb-3 row">
				                            	<div>
				                            	</div>
				                                <div class="col-sm-6 col-md-6">
				                                    <select class="form-select form-control" id="warehouseType" name="warehouseType" >
				                                  
				                                    </select>
				                                </div>
				                                <div class="col-sm-6 col-md-6">
				                                	<input type="text" class="form-control" id="currentQuantity" name="currentQuantity" readonly>
				                                </div>
				                            </div>
				                            <div class="row">
				                            	<img src = "#" height="300" id="itemImage" width="auto" name="itemImage" class="mb-3">			            			
												<input type="file" accept="image/*" id="newImage" class="form-control" style="width:400px; margin-left:13px;">																						
				                            </div>
				                        </div> <!-- 첫번쨰 탭 End Point -->
										
				                    </div>
				                </div>
								
								<!-- 재고조정내역 그리드 -->
								<div class="modal-body col-lg-6 col-sm-12 col-md-12">
									<div class="row mb-1" >
										<div class="col-sm-3 col-md-3" style="padding-right: 0">
		                                    <select class="form-select form-control" id="warehouseType2" name="warehouseType2" >
		                                    </select>
		                                </div>
		                                <div class="col-sm-3 col-md-3" style="padding-right: 0">
		                                    <select class="form-select form-control" id="inqueryYear" name="inqueryYear" >
		                                        <option th:each="year : ${#numbers.sequence(2024, 2014)}" 
											           th:value="${year}" 
											           th:text="${year}">
											    </option>
		                                    </select>
		                                </div>
		                                <div class="col-sm-5 col-md-5" style="padding-right: 0">
				                            <button type="button" class="btn btn-success" id="adjExcelBtn" style="font-size:14px;">엑셀다운</button>
				                        </div>
	                                </div>
									<div id="adjustmentDetail"></div>
								</div>
								
				            </div>
				            <div class="modal-footer">
			            		<button type="button" id="deleteBtn" class="btn btn-danger">사진 삭제</button>
			                    <button type="button" id="updateBtn" class="btn btn-success">사진 수정</button>
			                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
				            </div>
			            </div>		            
			        </form>
			    </div>
			</div> <!-- 모달 End point -->
			
	<!-- 재고조정보고서 모달 HTML -->
	<div class="modal fade bg-dark bg-opacity-50" id="reportModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <h5 class="modal-title" style="font-size:18.2px;">입출고보고서</h5>
                </div>
                <div class="modal-body">
                    <div id="reportContent" class="report-form">
                        <div class="report-title">입출고보고서</div>
                        <div class="container-fluid p-4">
                            <div class="table-container">
                                <table class="report-table">
                                    <thead> 
                                        <tr>
                                            <th colspan="3">입출고번호</th>
                                            <th colspan="3">담당자</th>
                                            <th>작성일자</th>
                                        </tr>
                                        <tr>
                                            <td colspan="3" id="adjustNo"></td>
                                            <td colspan="3" class='reporter'></td>
                                            <td class='inputDate'></td>
                                        </tr>
                                        <tr>
                                            <th>일련번호</th>
                                            <th>자재식별번호</th>
                                            <th>품명 및 규격</th>
                                            <th>현재수량</th>
                                            <th>증감수량</th>
                                            <th>창고명</th>
                                            <th>입출고사유</th>
                                        </tr>
                                    </thead>
                                    <tbody id="adjustTbody">                                      
                                        <th:block th:each="i : ${#numbers.sequence(1, 15)}">
										    <tr>
										        <td></td>
										        <td></td>
										        <td></td>
										        <td></td>
										        <td></td>
										        <td></td>
										        <td></td>									      
										    </tr>
										</th:block> 
                                                                                                                  
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="signature-section">
                                <div class="signature-grid">
                                    <div class="signature-box">
                                        <div class="signature-title">작성 ①</div>
                                        <div class="signature-content">
                                            <div class="signature-fields">
                                                <div class="inputDate">일자: 2024-11-13</div>
                                                <div class="reporter2">성명: 김기현</div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="signature-box">
                                        <div class="signature-title">검토 ②</div>
                                        <div class="signature-content">
                                            <div class="signature-fields">
                                                <div>일자: </div>
                                                <div>성명: </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="signature-box">
                                        <div class="signature-title">확인 ③</div>
                                        <div class="signature-content">
                                            <div class="signature-fields">
                                                <div>일자: </div>
                                                <div>성명: </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="signature-box">
                                        <div class="signature-title">수인</div>
                                        <div class="signature-content">
                                            <div class="signature-fields">
                                                <div>일자: </div>
                                                <div>성명: </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="pdfButton">PDF 저장</button>
                </div>
            </div>
        </div>
    </div>    
		 	        
	<!-- pdf 파일 다운을 위한 JS -->    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- 토스트차트 -->
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <!-- 재고조회에 전체적용되는 JS -->
	<script th:src="@{/js/stock/stockInquery.js}"></script>
	

	</body>
</html>