<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 메입 계약 단가 등록, 관리 Mapper -->
<mapper namespace="com.cherp.app.acct.mapper.ContractMapper">

	<!-- 매입 단가 계약 등록(HEADER) -->
	<insert id="insertContractH" parameterType="com.cherp.app.stck.vo.ContractItemVO">
	<selectKey keyProperty="conNo" order="BEFORE" resultType="string">
			SELECT domain('con_no')
			FROM dual
	</selectKey>
		INSERT INTO contract(
                con_no
                ,con_date
                ,con_name
                ,client_code
                ,con_sdate
                ,con_edate
                ,status
                ,emoployee_code
                ,emoloyee_name
                ,summary
                ,url
                ,writer
                ,update_url
       		 )
	        VALUES(
	            #{conNo}
	            ,#{conDate}
	            ,#{conName}
	            ,#{clientCode}
	            ,#{conSdate}
	            ,#{conEdate}
	            ,#{status}
	            ,#{emoployeeCode}
	            ,#{emoloyeeName}
	            ,#{summary}
	            ,#{url}
	            ,#{writer}
	            ,#{updateUrl}
	        )	
	</insert>
	
	<!-- 매입 단가 계약 등록(BODY) -->
	<insert id="insertContractB" parameterType="com.cherp.app.stck.vo.ContractItemVO">
	<selectKey keyProperty="itemCode" order="BEFORE" resultType="string">
			SELECT domain('item_code')
			FROM dual
	</selectKey>
		INSERT INTO contract_item(
	        item_code
	        ,item_name
	        ,price
	        ,supply_price
	        ,vat
	        ,con_no
	        ,total_price
	    )VALUES(
	        #{itemCode}
	        ,#{itemName}
	        ,#{price}
	        ,#{supplyPrice}
	        ,#{vat}
	        ,#{conNo}
	        ,#{totalPrice}
	    )
	</insert>
	
	<!-- 매입 단가 계약 수정(HEADER) -->
	<update id="updateContractHeader" parameterType="com.cherp.app.stck.vo.ContractItemVO">
		UPDATE  contract
		SET     con_date = #{conDate}
                ,con_name = #{conName}
                ,client_code = #{clientCode}
                ,con_sdate =  #{conSdate}
                ,con_edate = #{conEdate}
                ,status = #{status}
                ,emoployee_code = #{emoployeeCode}
                ,emoloyee_name = #{emoloyeeName}
                ,summary  =  #{summary}
                ,url = #{url}
                ,writer = #{writer}
                ,update_url = #{updateUrl}
		WHERE con_no = #{conNo}
	</update>
	
	<!-- 매입 단가 계약 수정(BODY) -->
	<update id="updateContractBody" parameterType="com.cherp.app.stck.vo.ContractItemVO">
		UPDATE contract_item
		SET    	item_name = #{itemName}
	        	,price = #{price}
	        	,supply_price = #{supplyPrice}
	        	,vat = #{vat}
	        	,total_price = #{totalPrice}
	  WHERE item_code = #{itemCode}
	</update>
	
	<!-- 매입 단가 계약 수정 -> 계약 번호 업데이트(BODY) -->
	<update id="updateContractB">
	    UPDATE contract_item
        SET con_no = #{conNo}
        WHERE item_code = #{itemCode}
	</update>

	<!-- 계약 전체 조회(Header) -->
	<select id="selectContractsH" resultType="com.cherp.app.stck.vo.ContractItemVO">
		 SELECT con_no
               ,con_date
               ,con_name
               ,client_code
			   ,(SELECT client_name
                 FROM client d
                 WHERE d.client_code = c.client_code) client_name
               ,con_sdate
               ,con_edate
               ,FIND_CODE(status) status
               ,emoployee_code
               ,emoloyee_name
               ,summary
               ,url
               ,writer
         FROM contract c
         ORDER BY con_date desc
	</select>
	
	
	<!-- 계약 전체 조회(Body) -->
	<select id="selectContractsB" resultType="com.cherp.app.stck.vo.ContractItemVO">
         SELECT item_code
                ,item_name
                ,price
                ,supply_price
                ,vat
                ,con_no
                ,total_price
        FROM contract_item
	</select>
	
	<!-- 계약 상세 조회(Header) -->
	<select id="infoContractH" resultType="com.cherp.app.stck.vo.ContractItemVO">
		SELECT con_no
               ,con_date
               ,con_name
               ,client_code
			   ,(SELECT client_name
                 FROM client d
                 WHERE d.client_code = c.client_code) client_name
               ,con_sdate
               ,con_edate
               ,FIND_CODE(status) status
               ,emoployee_code
               ,emoloyee_name
               ,summary
               ,url
               ,update_url
               ,writer
         FROM contract c
         WHERE con_no = #{no}
	</select>
	
	<!-- 계약 상세 조회(Body) -->
	<select id="infoContractB" resultType="com.cherp.app.stck.vo.ContractItemVO">
		         SELECT item_code
                ,item_name
                ,price
                ,supply_price
                ,vat
                ,con_no
                ,total_price
        FROM contract_item
        WHERE con_no = #{no}
	</select>
	
</mapper>

