<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매출, 채권 Mapper -->
<mapper namespace="com.cherp.app.acct.mapper.SalesMapper">
	<!-- 채권(receivable) 전체 조회 
	<select id="receivablesList" resultType="com.cherp.app.acct.vo.SalesVO">
		SELECT log_id, sales_chit_no, rec_date, decrease_price, bacct_code
		FROM receivables_log
	</select>-->
	
	<select id="receivablesList" resultType="com.cherp.app.acct.vo.SalesVO">
		SELECT
		    p.log_id,
		    p.sales_chit_no,
		    p.rec_date,
		    p.bacct_code,
		    p.client,
		    (
		        SELECT
		            client_name
		        FROM
		            client
		        WHERE
		            client_code = p.client
		    )             AS client_name,
		    s.rec_balance AS rec_balance,
		    s.rec_status  AS rec_status
		FROM
		         receivables_log p
		    JOIN sales s ON p.sales_chit_no = s.sales_chit_no
	</select>
	
	<select id="payablesList" resultType="com.cherp.app.acct.vo.PayablesVO">
		SELECT
		    p.rec_log_id,
		    p.purchase_chit_no,
		    p.rec_date,
		    p.bacct_code,
		    p.client,
		    (
		        SELECT
		            client_name
		        FROM
		            client
		        WHERE
		            client_code = p.client
		    )                  AS client_name,
		    s.decrease_balance AS decrease_balance,
		    s.decrease_status  AS decrease_status
		FROM
		         payables_log p
		    JOIN purchase s ON p.purchase_chit_no = s.purchase_chit_no
	</select>
	
	<select id="SelectAllClientPayableList" parameterType="com.cherp.app.acct.vo.ClientPsVO">
		SELECT *
		FROM   client
	</select>
	<!-- sales 테이블 insert(매출전표 등록) -->
	<insert id="insertSale" parameterType="com.cherp.app.acct.vo.SalesVO">
		<selectKey keyProperty="bacctCode" order="BEFORE" resultType="int">
			SELECT NVL(MAX(bacct_code),100) + 1
			FROM bacct
		</selectKey>
		INSERT INTO bacct (
                     bacct_code
                    ,bacct_no
                    ,bacct_name
                    ,bank_name
                    ,summary
                    )
		VALUES(
		         #{bacctCode}
		        ,#{bacctNo}
		        ,#{bacctName}
		        ,#{bankName}
		        ,#{summary}
		        )
	</insert>
</mapper>