<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매출, 채권 Mapper -->
<mapper namespace="com.cherp.app.acct.mapper.SalesMapper">
	<!-- 채권(receivable) 전체 조회 
	<select id="receivablesList" resultType="com.cherp.app.acct.vo.SalesVO">
		SELECT log_id, sales_chit_no, rec_date, decrease_price, bacct_code
		FROM receivables_log
	</select>-->
	
	<select id="receivablesList" resultType="com.cherp.app.acct.vo.SalesVO">
		SELECT
		    p.log_id,
		    p.sales_chit_no,
		    p.rec_date,
		    p.bacct_code,
		    c.client_bacct,
		    p.client_code,
		    (
		        SELECT
		            client_name
		        FROM
		            client
		        WHERE
		            client_code = p.client
		    )             AS client_name,
		    s.rec_balance AS rec_balance,
		    s.rec_status  AS rec_status
		FROM
		         receivables_log p
		    JOIN sales s ON p.sales_chit_no = s.sales_chit_no
		    JOIN client c ON c.client_code = p.client_code
	</select>
	<select id="payablesList" resultType="com.cherp.app.acct.vo.ClientPsVO">
		SELECT
		    client_bacct,
		    client_code,
		    client_name,
		    balancem,
		    state
		FROM client
	</select>
	<insert id="insertPayable" parameterType="com.cherp.app.acct.vo.InsertPayableVO">
		CALL decrease_payables
			(#{decreasePrice}
			,#{bacctCode}
			,#{clientCode}
			,#{result, mode = OUT, jdbcType=VARCHAR})
	</insert>
	<!-- <select id="payablesList" resultType="com.cherp.app.acct.vo.PayablesVO">
		SELECT
		    p.rec_log_id,
		    p.purchase_chit_no,
		    p.rec_date,
		    p.bacct_code,
		    c.client_bacct,
		    p.client_code,
		    (
		        SELECT
		            client_name
		        FROM
		            client
		        WHERE
		            client_code = p.client_code
		    )                  AS client_name,
		    s.decrease_balance AS decrease_balance,
		    s.decrease_status  AS decrease_status
		FROM
		         payables_log p
		    JOIN purchase s ON p.purchase_chit_no = s.purchase_chit_no
		    JOIN client c ON p.client_code = c.client_code
	</select> -->
	
	<!-- 거래처 채무 거래처원장 조회 -->
	<select id="SelectAllClientPayableList" parameterType="com.cherp.app.acct.vo.PayablesVO">
		SELECT  c.client_name
		        ,pl.rec_date
		        ,p.acct_name
		        ,p.summary
		        ,pl.increase_price
		        ,pl.decrease_price
		        ,(pl.increase_price-pl.decrease_price) as balance
		FROM    client c 
		        JOIN payables_log pl ON c.client_code = pl.client_code
		        JOIN purchase p ON p.purchase_chit_no = pl.purchase_chit_no
		WHERE   c.client_code = #{clientCode}
		AND c.trade_type = '채무'
		
	</select>
	
	<!-- 거래처 채권 거래처원장 조회 -->
	<select id="SelectAllClientReceivableList" parameterType="com.cherp.app.acct.vo.SalesVO">
		SELECT  c.client_name
		        ,rl.rec_date
		        ,s.acct_name
		        ,s.summary
		        ,rl.increase_price
		        ,rl.decrease_price
		        ,(rl.increase_price-rl.decrease_price) as balance
		FROM    client c 
		        JOIN receivables_log rl ON c.client_code = rl.client_code
		        JOIN sales s ON s.sales_chit_no = rl.sales_chit_no
        WHERE   rl.client_code = #{clinetCode}
	</select>
	
	<!-- sales 테이블 insert(매출전표 등록) -->
	<insert id="insertSale" parameterType="com.cherp.app.acct.vo.SalesVO">
	<selectKey keyProperty="salesChitNo" order="BEFORE" resultType="string">
			SELECT domain('sales_chit_no')
			FROM dual
	</selectKey>
		INSERT INTO sales (
                     sales_chit_no <!-- 전표번호 -->
           			 ,chit_date <!-- 전표일자 -->
           			 ,client_code <!-- 거래처 -->
           			 ,acct_name <!-- 계정명 -->
       			     ,supply_price <!-- 공급가액 -->
            		 ,vat <!-- 부가세 -->
           		  	 ,total_price <!-- 합계 -->
           	 	 	 ,writer <!-- 작성자 -->
           			 ,rec_balance <!-- 해당 매출전표의 채권 잔액 -->
	       			 ,summary <!-- 적요 -->
           			 ,saleslip_no <!-- 판매전표 번호 -->
                    )
			  VALUES(
		           #{salesChitNo}
		          ,#{chitDate}
		          ,#{clientCode}
		          ,#{acctName}
		          ,#{supplyPrice}
		          ,#{vat}
	              ,#{totalPrice}
	              ,#{writer}
                  ,#{recBalance}
                  ,#{summary}
                  ,#{saleslipNo}
		        )
	</insert>
	
	<insert id="insertInvoice" parameterType="com.cherp.app.acct.vo.SalesVO">
		INSERT INTO invoice(
	            invoice_no <!-- 인보이스 번호 -->
	            ,invoice_date <!-- 발행일 -->
	            ,saleslip_no <!-- 판매전표 번호 -->
	       )
	       VALUES(
	            domain('invoice_no')
	            ,#{chitDate}
	            ,#{saleslipNo}
	       )
	</insert>


	<!-- RECEIVABLES_LOG 테이블 insert(채권 거래 내역 등록) -->  
	<insert id="insertReceivable" parameterType="com.cherp.app.acct.vo.SalesVO">
	<selectKey keyProperty="logId" order="BEFORE" resultType="int">
			SELECT NVL(MAX(log_id),0) + 1
			FROM receivables_log
	</selectKey>
		INSERT INTO  receivables_log(
	            log_id <!-- 번호 --> 
	            ,rec_date <!-- == 매출전표 --> 
	            ,increase_price  <!-- 채권증가금액 --> 
	            ,client_code  <!-- 거래처코드 --> 
	            ,sales_chit_no <!-- 매출전표번호 --> 

	        ) VALUES(
	           #{logId}
	           ,#{chitDate}
	           ,#{totalPrice}
	           ,#{clientCode}
	           ,#{salesChitNo}
	           )
	</insert>
    
    <!-- CLIENT(거래처) 테이블 BALANCEK(총 채권 잔액) 업데이트 -->
    <update id="updateClientBalancek" >
    	UPDATE client
		SET balancek = balancek + #{balancek}
		WHERE client_code = #{clientCode}
    </update>
    
    <!-- 회계 계정 조회 -->
	<select id="selectAcctList" resultType="com.cherp.app.acct.vo.SalesVO">
		SELECT   acct_code
                 ,acct_name
                 ,debit_side
		FROM  acnt_acct
		WHERE debit_side = #{debitSide}
	</select>
	
	<!-- 판매전표 전표 상태 변경 -->
	<update id="updateSalesSlipState">
		UPDATE  sales_chit
		SET slip_state = '발행'
		WHERE saleslip_no = #{saleslipNo}
	</update>
</mapper>