@charset "UTF-8";

    .redStar {
        color: red;
    }
        
    h1{
        margin-top: 20px;
        margin-left:10px;
        font-weight: bold;
        font-size: 24px;
        }

	/* 버튼 스타일 */
	.btn {
  	 font-size: 1.15rem;
  	 padding: 4px 8px;
    }
    
    /* 체크박스 버튼 안보이게 처리 */
    .hidden-input{
    	display: none;
	}
	
	/* 체크박스 */
    .selectCheck{
     	width:15px;
    	height:15px;
     	background-color: white;
     	border:1px solid black;
     	padding:1px !important;
     	line-height:15px;
     	border-radius:5px;
   	}
   	
   	/* 체크박스 */
   	.hidden-input:checked + label {
   		background-color: #cadcff;
   	}
	
	/* 모달 헤더 스타일 */
      .modal-header {
        background-color: #AACB73; /* 헤더 배경색 */
        color: white; /* 텍스트 색상 */
        padding: 1.2rem 1rem; /* 내부 여백 */
      }

      /* 모달 본문 스타일 */
      .modal-body {
        background-color: #fff; /* 배경색 */
        padding: 1rem; /* 내부 여백 */
      }
      
      /* 모달 컨테이너 */
      .modal-content{
      	border:2px solid black;
      }
      
      /* 모달 하단 버튼 컨테이너 스타일 */
      .bottom-buttons {
     	display: flex;
        border-top: 1px solid #dee2e6; /* 상단 경계선 */
        padding: 0.5rem; /* 내부 여백 */
        background-color: #f8f9fa; /* 배경색 */
        justify-content: flex-end; /* 오른쪽 끝에 배치*/
      }
      
     /* 그리드 합계 부분 오른쪽 정렬 */
  	.tui-grid-summary-area .tui-grid-cell, tui-grid-cell-content {
    	text-align: right;
		}
     
     /* 버튼 그룹 왼쪽 */
	  .btn-group.left {
	    justify-content: flex-start; /* 왼쪽 정렬 */
	  }
	
	  /* 버튼 그룹 오른쪽 */
	  .btn-group.right {
	    justify-content: flex-end; /* 오른쪽 정렬 */
	  }
	  
	  .msg{
	  	color : red;
	  }
	  
	  /* 헤더 CSS작업 (건우) */
	  .kwn {
	  	border-radius: 5px;
	    transition: background-color 0.3s ease;
	  }
		
	  .kwn:hover {
		background-color: #8AA65B;
	   }
	   
	   /* 사이드바 */
		div.sidebar-wrapper.scrollbar.scrollbar-inner.scroll-content > div > ul > li > a > p{
	   	font-size: 14px !important;
	   
	   }
	  
	  /* 구글폰트 적용 */
	  .do-hyeon-regular {
		  font-family: "Do Hyeon", sans-serif;
		  font-weight: 400;
		  font-style: normal;
		}
		
	 *{
		font-family: "Noto Sans KR", sans-serif !important;
	  font-optical-sizing: auto !important;
	  font-weight: 600 !important;
	  font-style: normal !important;
	  font-size:14px;
		} 
		
	
	.logoutBtn{
		width:75px;
		font-size: 13px;
		border-radius: 1em;
	}
	
/* 	.tui-grid-cell, .tui-grid-content-area, .tui-grid-lside-area {
		border: 1px solid black !important;
	} */
	
	.btnBorder{
		font-size: 15px;
		border: 1px solid black !important;
		background-color: #0040FF !important;
	}
	
	.icon-action-redo, .icon-action-undo, .icon-anchor, .icon-arrow-down, .icon-arrow-down-circle, .icon-arrow-left, .icon-arrow-left-circle, .icon-arrow-right, .icon-arrow-right-circle, .icon-arrow-up, .icon-arrow-up-circle, .icon-badge, .icon-bag, .icon-ban, .icon-basket, .icon-basket-loaded, .icon-bell, .icon-book-open, .icon-briefcase, .icon-bubble, .icon-bubbles, .icon-bulb, .icon-calculator, .icon-calendar, .icon-call-end, .icon-call-in, .icon-call-out, .icon-camera, .icon-camrecorder, .icon-chart, .icon-check, .icon-chemistry, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-compass, .icon-control-end, .icon-control-forward, .icon-control-pause, .icon-control-play, .icon-control-rewind, .icon-control-start, .icon-credit-card, .icon-crop, .icon-cup, .icon-cursor, .icon-cursor-move, .icon-diamond, .icon-direction, .icon-directions, .icon-disc, .icon-dislike, .icon-doc, .icon-docs, .icon-drawer, .icon-drop, .icon-earphones, .icon-earphones-alt, .icon-emotsmile, .icon-energy, .icon-envelope, .icon-envelope-letter, .icon-envelope-open, .icon-equalizer, .icon-event, .icon-exclamation, .icon-eye, .icon-eyeglass, .icon-feed, .icon-film, .icon-fire, .icon-flag, .icon-folder, .icon-folder-alt, .icon-frame, .icon-game-controller, .icon-ghost, .icon-globe, .icon-globe-alt, .icon-graduation, .icon-graph, .icon-grid, .icon-handbag, .icon-heart, .icon-home, .icon-hourglass, .icon-information, .icon-key, .icon-layers, .icon-like, .icon-link, .icon-list, .icon-location-pin, .icon-lock, .icon-lock-open, .icon-login, .icon-logout, .icon-loop, .icon-magic-wand, .icon-magnet, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-map, .icon-menu, .icon-microphone, .icon-minus, .icon-mouse, .icon-music-tone, .icon-music-tone-alt, .icon-mustache, .icon-note, .icon-notebook, .icon-options, .icon-options-vertical, .icon-organization, .icon-paper-clip, .icon-paper-plane, .icon-paypal, .icon-pencil, .icon-people, .icon-phone, .icon-picture, .icon-pie-chart, .icon-pin, .icon-plane, .icon-playlist, .icon-plus, .icon-power, .icon-present, .icon-printer, .icon-puzzle, .icon-question, .icon-refresh, .icon-reload, .icon-rocket, .icon-screen-desktop, .icon-screen-smartphone, .icon-screen-tablet, .icon-settings, .icon-share, .icon-share-alt, .icon-shield, .icon-shuffle, .icon-size-actual, .icon-size-fullscreen, .icon-social-behance, .icon-social-dribbble, .icon-social-dropbox, .icon-social-facebook, .icon-social-foursqare, .icon-social-github, .icon-social-google, .icon-social-instagram, .icon-social-linkedin, .icon-social-pinterest, .icon-social-reddit, .icon-social-skype, .icon-social-soundcloud, .icon-social-spotify, .icon-social-steam, .icon-social-stumbleupon, .icon-social-tumblr, .icon-social-twitter, .icon-social-vkontakte, .icon-social-youtube, .icon-speech, .icon-speedometer, .icon-star, .icon-support, .icon-symbol-female, .icon-symbol-male, .icon-tag, .icon-target, .icon-trash, .icon-trophy, .icon-umbrella, .icon-user, .icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-vector, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-wallet, .icon-wrench {
    font-family: simple-line-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	}

	.fa, .fas {
	font-family: 'Font Awesome 5 Solid' !important;
    color: #434346 !important;
	    font-weight: 900;
	}
	
	.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #434346 !important;
}

	.kwBorder {
		padding: 20px; border:1px solid #D8D8D8;
	}
	
	

	
	
	