<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/human_layout}"
      layout:fragment="Content">
<head>

<style>
	.limit-box {
	max-width:650px;
	}

</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class=" bg-white kwBorder shadow-sm rounded p-4">
		<div class="row justify-content-start p-1">
			<div class="col-12 limit-box">
					<div class="row justify-content-between mb-2">
						<div class="border-bottom pb-3 mb-3 col">
							<h1>수당항목목록</h1>
						</div>
					</div>
					<div class="row justify-content-start ">
						<div class="col-auto">
							<button type="button" class="btn btn-success btn-sm req-Btn" >신규</button>
						</div>
						<div class="col-auto ps-0">
							<button type="button" class="btn btn-danger btn-sm delete-Btn" >삭제</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col">
						<div id="grid"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
<!-- 수당등록 모달시작!!! -->
   <div class="modal fade" id="allReqModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">수당항목등록</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>수당항목등록</h4>
                            </div>

                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row g-3 align-items-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label">수당코드</label>
                                        </div>
                                        <div class="col">
                                          <input type="text" id="inputPassword6" name="allowanceCode" class="form-control form-control-sm insert-input" aria-describedby="passwordHelpInline">
                                        </div>
                                    </div>                                    
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label ">수당명</label>
                                        </div>
                                        <div class="col">
                                          <input type="text" id="inputPassword6" name="allowanceName" class="form-control form-control-sm insert-input" aria-describedby="passwordHelpInline">
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label ">근태구분</label>
                                        </div>
                                        <div class="col">
                                      		<select class="form-select form-select-sm EmployeeDetailVO insert-input" name="allowanceCheck">
					                    			<option value="과세" >과세</option>
					                    			<option value="비과세" >비과세</option>
                                       		</select>		                                        
                                        </div>
                                   		</div>
                                    </div>
                                </div>
                              </div>
                          </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary insert-Btn" >저장</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

<!-- 근태등록 모달끝!!! -->

<!-- 근태수정 모달시작!! -->
   <div class="modal fade" id="allModifyModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">수당항목수정</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>수당항목수정</h4>
                            </div>

                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row g-3 align-items-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label">수당코드</label>
                                        </div>
                                        <div class="col">
                                          <input type="text" id="inputPassword6" name="allowanceCode" class="form-control form-control-sm modify-input" readonly aria-describedby="passwordHelpInline">
                                        </div>
                                    </div>                                    
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label ">수당명</label>
                                        </div>
                                        <div class="col">
                                          <input type="text" id="inputPassword6" name="allowanceName"  class="form-control form-control-sm modify-input" aria-describedby="passwordHelpInline">
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label ">과세여부</label>
                                        </div>
                                        <div class="col">
                                      		<select class="form-select form-select-sm EmployeeDetailVO modify-input" name="allowanceCheck">
					                    		<option value="과세" >과세</option>
					                    		<option value="비과세" >비과세</option>
                                       		</select>		                                        
                                        </div>
                                   		</div>
                                    </div>
                                </div>
                              </div>
                          </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modify-Btn" >저장</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

<!-- 근태수정 모달끝!! -->

	<script th:inline="javascript">
		const Grid = tui.Grid;
		const grid = new Grid({
			  el: document.getElementById('grid'), // Container element
		      rowHeaders: [
		          {
		            type: 'checkbox',
		            header: `
		              <span class="custom-input">
		              <input type="checkbox" id="all-checkbox" class="hidden-input" name="_checked" />
		            	<label for="all-checkbox" class="checkbox selectCheck">✔</label>
		          	</span>
		          `,
		            renderer: {
		              type: gridCheckbox
		            }
		          }
		        ],
		      width: 650,
		      bodyHeight: 600,
		      scrollX: true,
		      scrollY: false,
			  columns: [
			    {
			      header: '수당코드',
			      name: 'allowanceCode'
			    },
			    {
			      header: '수당명칭',
			      name: 'allowanceName'
			    },
			    {
			      header: '과세여부',
			      name: 'allowanceCheck'
			    },
			    {
			      header:'근태사용횟수',
			      name:'count',
				  hidden:true
			    }
			  ],
			  data: [[${list}]],
			showDummyRows: true
			});

		</script>
	<script th:src="@{/js/human/allowanceElement.js}"></script>
</body>
</html>