<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/human_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
 <title>매출전표 모달</title>
<style>
        body {
            font-size: 0.85rem;
        }
        .employee-list, .employee-form {
            height: 500px;
            overflow-y: auto;
        }
        .employee-photo {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;       
        }
        .card {
            border: none;
            box-shadow: none;
        }
        .form-label {
            margin-bottom: 0.25rem;
        }
		.table>tbody>tr>td, .table>tbody>tr>th, .table thead th {
		    padding: 0px 0px 4px 24px !important;
		   	font-size:14px;
		}
		.container .table-head thead tr th{
			background-color:#aacb73 !important;
		}
		.scroll-bar{
			overflow-x:auto ;
			overflow-y:auto ;
		
		}
		.scroll-table{
		
			min-width:1010px ;
			min-height:200px;
			max-height:400px ;
			
		}
		.scroll-table table thead tr th {
			padding:8px !important;
			padding-left:8px !important;
			padding-right:8px !important;
			text-align:center;
		}
		.scroll-table table tbody tr td {
			padding:8px !important;
			padding-left:8px !important;
			padding-right:8px !important;
			border:1px #ccc solid;
	
		}
		td input[type='text'] {
			width:100%;
			border:0;
			
		}
		.modify-gird-content{
			overflow-x:auto;
		}
		input[type=time]::-webkit-datetime-edit-ampm-field {
			  display: none;
			}
      .search-form .input-group-text:first-child {
        width: 90px;
      }			

</style>
<title>Insert title here</title>
</head>
<body>
	<div class=" kwBorder bg-white p-4 ">
		<div class="row">
		<div class="border-bottom pb-3 mb-3 col">
        <h1>근태정보</h1>
		
		</div>
        <!--  세부 검색 구역 -->
      <div class="card mb-4 bg-white search-form">
        <div class="card-body bg-light kwBorder">
          <form>
          	<!-- 1행 시작 (화면 작아질시 두줄로 변환)-->
            <div class="row mb-3 align-items-center row-gap-3">
            <!-- 직위/직급 -->
              <div class="col-md-6"><!-- 크기가 sm으로 변환시 한줄 전체차지 -->
                <div class="row align-items-center">
	                <div class="col">
		                <div class="input-group mb-3">
						  <label class="input-group-text">직위/직급</label>
						  <select class="form-select search-option " name="employeePosition">
		                  		<option value="">전체</option>
		                  		<th:block th:each="com : ${comList}">
		                  			<option  th:if="${com.commonCode eq '0H'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
		                  		</th:block>
						  </select>
						</div>
	                </div>
                </div><!-- - -->
              </div><!--  -->
              <!-- 직위/직급 끝-->
              <!-- 사원 -->
              <div class="col">
                <div class="row align-items-center">
                	<div class="col"> <!-- auto로 크기를 줘서 컨텐츠 크기만큼만 너비 차지 -->
	                	<div class="input-group mb-3">
						  <span class="input-group-text" >사원</span>
						  <input type="text" class="form-control search-option" placeholder="사원아이디" name="employeeId" >
						</div>
                	
                  	</div>
                </div>
              </div>
              <!-- 사원끝 -->
            </div>
			<!-- 2행 시작 -->
            <div class="row align-items-center mb-3">
            	<!-- 부서칸-->
            	<div class="col ">
              		<div class="row align-items-center">
              			<div class="col">
	              			<div class="input-group mb-3">
							  <label class="input-group-text">부서</label>
							  <select class="form-select search-option " name="departmentCode">
		                    		<option value="">전체</option>
	                    		<th:block th:each="dept : ${deptList}">
	                    			<option   th:value="${dept.departmentCode}" th:text="${dept.departmentName}"></option>
	                    		</th:block>
							  </select>
							</div>
                  		</div>
    	            </div>
              	</div>
              	<!-- 부서칸 끝! -->
              	<!-- 재직구분칸 시작! -->
              	<div class=" col">
              		<!-- 라벨(재직구분)만 auto로 컨텐츠크기만 차지하게하고, 나머지 라디오버튼(라벨포함)에 대해서는 남는부분을 3등분 시켜 동일한 크기를 지니게함 -->
              		<div class="row align-items-center">
              			<div class="col">
              				<div class="input-group mb-3">
							  <label class="input-group-text">재직구분</label>
							  <select class="form-select search-option " name="statusType">
	                    			<option value="m1">재직</option>
	                    			<option value="m2">휴직</option>
	                    			<option value="m3">퇴직</option>
							  </select>
							</div>
                  		</div>
                	</div>
              	</div>
              	<!-- 재직구분칸끝!! -->
            </div>
			<!-- 2행끝 (크기바뀌면 2행이아니라 각자 한줄임)-->
			<!-- 3행시작 -->
			<!--   날짜칸 시작 lg이하에서는 두줄로 표시하게 바꿈-->
            <div class="row mb-3 align-items-center row-gap-3">
            	<div class="col-lg col-md-12">
            		<div class="input-group mb-3">
            		  <span class="input-group-text">입사일자</span>
	                  <input type="date" class="search-option form-control" name="hireDateStart">
					  <span class="input-group-text">~</span>
	                  <input type="date" class="search-option form-control" name="hireDateEnd">
					</div>
					            		
               	</div>
              	<div class="col-lg col-md-12">                    
              		<div class="input-group mb-3">
            		  <span class="input-group-text">퇴사일자</span>
	                  <input type="date" class="search-option form-control" name="resignationDateStart">
					  <span class="input-group-text">~</span>
	                  <input type="date" class="search-option form-control" name="resingationDateEnd">
					</div>
              	</div>
            </div>
            <!-- 날짜칸끝 -->
            <!-- 4행 시작 -->
            <!-- between으로 각 콘텐츠를 양끝에둠 -->
            <div class="row justify-content-between  mb-2">
           		<div class="col-lg col-md-12 ">
	           		<div class="row ">
              	  		<div class="col ">
		                	<div class="input-group mb-3">
							  <span class="input-group-text" >사원명</span>
							  <input type="text" class="form-control search-option" placeholder="사원명" name="employeeName" >
							</div>                  		
						</div>
                  	</div>
                </div>
                <div class="col-lg col-md-12">
                	<div class="row">
	                	<div class="col align-itself-center">
	                        <div class="input-group mb-3">
		            		  <span class="input-group-text">근태일자</span>
			                  <input type="date" class="search-option form-control" name="attendanceDateStart">
							  <span class="input-group-text">~</span>
			                  <input type="date" class="search-option form-control" name="attendanceDateEnd">
							</div>   
	                    </div>
                	</div>
                </div>
            </div>
            <!-- 4행끝 -->
            <!-- 5행 시작 -->
            <div class="row justify-content-end">
               	<div class="col-auto align-itself-center">
                       <button type="button" class="btn btn-primary search-btn">검색</button>
                </div>
            </div>
            <!-- 5행 끝  -->
          </form>
        </div>
      </div>
			<!--  세부 검색 구역 끝!!!! -->
				<!-- 버튼용 로우 -->
			<div class="row mb-2">
				<div class="col">
					<button type="button" class="btn btn-sm btn-success new-Btn">신규</button>
					<button type="button" class="btn btn-sm btn-danger delete-Btn">삭제</button>
					<button type="button" class="btn btn-sm btn-secondary excel-Btn">Excel</button>
				</div>
			</div>
			
			<div class="row mb-4 ">
				<div class="col">
					<div id="grid"></div>
				</div>
			</div> <!-- table row -->
	</div> <!-- end container -->
	</div>
<!-- 근태수정 모달 -->
    <div class="modal fade" id="atModifyModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">근태수정</h5>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>근태수정</h4>
                            </div>

                        </div> <!--검색창끝-->
                        <!--근태테이블-->
                        <div class="row modify-gird-content">
                            <div id="atModifyGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                	<div class="row justify-content-end ">
						<div class="col-auto me-0 pe-0">
	    	                <button type="button" class="btn btn-success save-Btn" data-bs-dismiss="modal">저장</button>
						</div>
						<div class="col-auto">
    	    	            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>						
						</div>                	
						
                	</div>
                </div>
            </div>
        </div>
    </div>
	
<!-- 근태 수정 모달 -->	


<!-- 근태항목 조회 -->
    <div class="modal fade bg-dark bg-opacity-50" id="atItemModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">근태항목검색</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>근태항목검색</h4>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row">
                            <div id="atItemGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

<!-- 근태항목 조회끝 -->
		<script th:src='@{/js/common/deleteRowBtn.js}'></script>
		<script th:src='@{/js/common/appendRowBtn.js}'></script>
	

	<script>
	const Grid = tui.Grid;
    const grid = new Grid({
      el: document.getElementById('grid'),
      scrollX: false,
      scrollY: false,
      bodyHeight:401,
      pageOptions: {
    	  useClient: true,
          perPage: 10
      },       
      rowHeaders: [
          {
            type: 'checkbox',
            header: `
              <span class="custom-input">
              <input type="checkbox" id="all-checkbox" class="hidden-input" name="_checked" />
            	<label for="all-checkbox" class="checkbox selectCheck">✔</label>
          	</span>
          `,
            renderer: {
              type: gridCheckbox
            }
          }
        ],
      columns: [
    	{
    	 header:'근태기록번호',
    	 name:'attHistoryCode',
    	 hidden:true
    	},
        {
          header: '사원아이디',
          name: 'employeeId'
        },
        {
          header: '성명',
          name: 'name'
        },
        {
          header: '날짜',
          name: 'attendanceDate',
        },
        {
          header: '근태유형',
          name: 'attName'
        },
        {
          header: '출근시간',
          name: 'attendanceTime',
          
        },
        {
          header: '퇴근시간',
          name: 'leaveTime',

        }
      ],
      data: [
    	  {
    		employeeCode:'2024-01',
    		employeeName:'유석진',
    		attendanceDate:'2024.11.19',
    		attName:'정상출근',
    		attendanceTime:'08:59',
    		leaveTime:'18:01'
    	  },
    	  ]
    });
  
	
	</script>
	<script th:src="@{/js/human/modal/atItemModal.js}"></script>
	<script th:src="@{/js/human/modal/atModifyModal.js}"></script>
	
	
	<script th:src="@{/js/human/attendanceList.js}"></script>
	
</body>
</html>