<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/human_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<style>
	.container .table-head thead tr th{
		background-color:#aacb73 !important;
	}
	.scroll-bar{
		overflow-x:auto ;
		overflow-y:auto ;
	
	}
	.scroll-table{
	
		min-width:1010px ;
		height:400px;
		max-height:400px ;
		
	}
	.scroll-table table thead tr th {
		padding:8px !important;
		padding-left:8px !important;
		padding-right:8px !important;
		text-align:center;
	}
	.scroll-table table tbody tr td {
		padding:8px !important;
		padding-left:8px !important;
		padding-right:8px !important;
		border:1px #ccc solid;

	}
	td input[type='text'] {
		width:100%;
		border:0;
		
	}
	.scroll-y{
		overflow-y:auto;
	}
    .hidden-input{
    	display: none;
	}
    .selectCheck{
     	width:15px;
    	height:15px;
     	background-color: white;
     	border:2px solid black;
     	padding:1px;
     	line-height:15px;
     	border-radius:5px;
   	}
   	.hidden-input:checked + label {
   		background-color: #2bd62b;
   	}
	
</style>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div class=" kwBorder bg-white p-4">
		<div class="row">
			<div class="border-bottom pb-3 mb-3 col">
				<h1>근태 입력</h1>
			</div>
		</div>
		<div class="row mb-3 justify-content-between">
			<div class="col-auto">
				<!-- 버튼용 로우 -->
				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-sm btn-danger deleteRowBtn">삭제</button>
						<button type="button" class="btn btn-sm btn-info addBtn appendRowBtn">추가</button>
						<button type="button" class="btn btn-sm btn-secondary resetBtn">다시쓰기</button>
					</div>
				</div>
			</div>
			<div class="col-auto">
				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-sm btn-secondary excel-Btn">Excel</button>
						<button type="button" class="btn btn-sm btn-success insert-Btn">저장</button>
						<input type="file" class="excel-Input" style="display:none;" accept="*.xls">
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col">
				<div id="grid"></div>
			</div>
		</div>

	</div> <!-- container fluid -->
<!-- 사원검색모달!!!!! -->		
	    <div class="modal fade" id="empModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">사원검색</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>사원검색</h4>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row">
                            <div id="empGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
<!-- 사원검색모달끝 -->

<!-- 근태항목검색 모달!!! -->    
    <div class="modal fade" id="aeSearchModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">근태항목검색</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>근태항목검색</h4>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row">
                            <div id="aeSearchGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 근태항목조회 모달끝!!! -->
	<script th:src="@{/js/common/appendRowBtn.js}"></script>	
	<script th:src="@{/js/common/deleteRowBtn.js}"></script>	
	
	<script>
		const Grid = tui.Grid;
	    const grid = new Grid({
	      el: document.getElementById('grid'),
	      bodyHeight:400,
	      scrollX: false,
	      scrollY: true,
	      rowHeaders: [
	          {
	            type: 'checkbox',
	            header: `
	              <span class="custom-input">
	              <input type="checkbox" id="all-checkbox" class="hidden-input" name="_checked" />
	            	<label for="all-checkbox" class="checkbox selectCheck">✔</label>
	          	</span>
	          `,
	            renderer: {
	              type: gridCheckbox
	            }
	          }
	        ],

	      columns: [
	    	{
	    	  header:'사원코드',
	    	  name:'사원코드',
	    	  hidden:true,
	    	},
	        {
	          header: '사원아이디',
	          name: '사원아이디',
	          validation: { required: true }
	        },
	        {
	          header: '성명',
	          name: '성명',
	        },
	        {
	          header:'날짜',
	          name:'날짜',
	          validation: { required: true },
	          editor: {
	          	type:'datePicker',
	          	options:{
	          		language: 'ko'
	          	},
	          }
	        },
	        {
	          header: '근태명',
	          name: '근태명',
	          validation: { required: true },
	        },
	        {
	          header: '근태유형코드',
	          name: '근태유형코드',
	          hidden:true
		    },
		    {
		      header:'근태유형',
		      name:'근태유형',
		      hidden:true,
		     	  relations: [
		     	       {
		     	         targetNames: ['출근시간', '퇴근시간'],
		     	         editable({ value }) {
		     	           return value !== '공제' && value !== '휴가' ;
		     	         },
		     	       }]
		    },
	        {
	          header: '출근시간',
	          name: '출근시간',
	          validation: {
	              validatorFn: function (value, row, columnName) {
	            	  let att = new Date("1970-01-01 "+value+":00")
	            	  let lev = new Date("1970-01-01 "+row['퇴근시간']+":00")
	            	  if (att > lev) {
	            		  return false;
	            	  }
	            	  return true}
	            },	         	          
	          editor: {
	        	  type:gridTime
	          }
	        },
	        {
	          header: '퇴근시간',
	          name: '퇴근시간',
	          editor: {
	        	  type:gridTime
	          }
	        }	        
	      ],
	      data: [{}
	      ],
	      showDummyRows: true,
	      contextMenu: ({ rowKey, columnName }) => [
	          [
	            {
	              name: 'export',
	              label: '엑셀출력',
                  action: () => {
                      grid.export('xlsx', {includeHiddenColumns:true });
                    },	              
	            }
	        ]
	          ]
	    });
	    
	  
	  
	  
	  
	  
	</script>
	<script th:src='@{/js/human/modal/employeeListModal.js}'></script>
	<script th:src='@{/js/human/modal/aeSearchModal.js}'></script>
	
</body>
	<script th:src="@{/js/human/attendanceInput.js}"></script>
</html>