<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/human_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<style>
	.container .table-head thead tr th{
		background-color:#aacb73 !important;
	}
	.scroll-bar{
		overflow-x:auto ;
		overflow-y:auto ;
	
	}
	.scroll-table{
	
		min-width:1010px ;
		height:400px;
		max-height:400px ;
		
	}
	.scroll-table table thead tr th {
		padding:8px !important;
		padding-left:8px !important;
		padding-right:8px !important;
		text-align:center;
	}
	.scroll-table table tbody tr td {
		padding:8px !important;
		padding-left:8px !important;
		padding-right:8px !important;
		border:1px #ccc solid;

	}
	td input[type='text'] {
		width:100%;
		border:0;
		
	}
</style>
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid bg-white p-4">
		<h2>근태 입력</h2>
		<div class="col-12">
			<!-- 테이블 로우-->
			<div class="row mb-4 ">
				<!-- 스크롤 적용 (위 스타일시트 참고 )-->
				<div class="scroll-bar">				
					<div class="scroll-table">
					<!-- 테이블 생성 -->
					<table class="table border-4 table-head g-1 ">
					  <thead>
					    <tr>
					      <th scope="col"><input type="checkbox"></th>
					      <th >사원번호</th>
					      <th >성명</th>
					      <th >날짜</th>
					      <th >근태유형</th>
					      <th >출근시간</th>
					      <th >퇴근시간</th>
					      <th >총근로시간</th>
					      <th >연장근로</th>
					      <th >야간근로</th>
					      <th >주말근로</th>
					      
					    </tr>
					  </thead>
					  <tbody class="table-group-divider">
					  	<tr class="blank" >
					  		<td><input type="checkbox"></td>
					  		<td><input type="text" readonly size=4 name="employeeCode"></td>
					  		<td><input type="text" readonly size=4 ></td>
					  		<td><input type="date" class="lock"  name="attendanceDate"></td>
					  		<td><input type="text" class="lock" name="attCode" readonly size=4 ></td>
					  		<td><input type="time" class="lock" name="attendanceTime" readonly size=4 ></td>
					  		<td><input type="time" class="lock" name="leaveTime" readonly size=4 ></td>
					  		<td><input type="text" name="toalWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="overtimeWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="nightWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="weekendWorktime" readonly size=4 ></td>
					  	</tr>
					  	<tr class="blank" >
					  		<td><input type="checkbox"></td>
					  		<td><input type="text" readonly size=4 name="employeeCode"></td>
					  		<td><input type="text" readonly size=4 ></td>
					  		<td><input type="date" class="lock"  name="attendanceDate"></td>
					  		<td><input type="text" class="lock" name="attCode" readonly size=4 ></td>
					  		<td><input type="time" class="lock" name="attendanceTime" readonly size=4 ></td>
					  		<td><input type="time" class="lock" name="leaveTime" readonly size=4 ></td>
					  		<td><input type="text" name="toalWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="overtimeWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="nightWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="weekendWorktime" readonly size=4 ></td>
					  	</tr>
					  	<tr class="blank" >
					  		<td><input type="checkbox"></td>
					  		<td><input type="text" readonly size=4 name="employeeCode"></td>
					  		<td><input type="text" readonly size=4 ></td>
					  		<td><input type="date" class="lock"  name="attendanceDate"></td>
					  		<td><input type="text" class="lock" name="attCode" readonly size=4 ></td>
					  		<td><input type="time" class="lock" name="attendanceTime" readonly size=4 ></td>
					  		<td><input type="time" class="lock" name="leaveTime" readonly size=4 ></td>
					  		<td><input type="text" name="toalWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="overtimeWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="nightWorktime" readonly size=4 ></td>
					  		<td><input type="text" name="weekendWorktime" readonly size=4 ></td>
					  	</tr>
					  </tbody>
					</table>
					</div>
				</div>
			</div> <!-- table row -->
			<!-- 버튼용 로우 -->
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-sm btn-success">신규</button>
					<button type="button" class="btn btn-sm btn-info addBtn">추가</button>
					
				</div>
			</div>
		</div> <!-- col-12 -->
	</div> <!-- container fluid -->
</body>
	<script th:src="@{js/human/attendanceInput.js}"></script>
</html>