<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/human_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid bg-white kwBorder shadow-sm rounded p-4 ">
		<div class="row justify-content-start p-1">
			<div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
					<div class="row justify-content-between mb-2">
						<div class="border-bottom pb-3 mb-3 col">
							<h1>부서목록</h1>
						</div>
					</div>
					<div class="row justify-content-start mt-1">
						<div class="col-auto ">
							<button type="button" class="btn btn-danger btn-sm del-Btn" >삭제</button>
						</div>
						<div class="col-auto ps-0">
							
							<button type="button" class="btn btn-success btn-sm req-Btn" >등록</button>
						</div>
					</div>
					<div class="rowm mt-2">
						<div class="col">
						<div id="grid"></div>
						</div>
					</div>
				</div>
				

			
			</div>
		</div>
<!-- 부서등록 모달 -->
   <div class="modal fade" id="departmentReqModal" tabindex="-1">
       <div class="modal-dialog modal-md">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">부서등록</h5>

               </div>
               <div class="modal-body">
                   <div class="container-fluid">
                       <!-- 검색창-->
                       <div class="row justify-content-between mb-3">
                           <div class="col-auto">
                               <h4>부서등록</h4>
                           </div>

                       </div> <!--검색창끝-->
                       <!--사원테이블-->
                       <div class="row g-3 align-items-center">
                           <div class="card">
                               <div class="card-body">
                                   <div class="row justify-content-center align-items-center">
                                       <div class="col-3">
                                         <label for="inputPassword6" class="col-form-label">부서코드</label>
                                       </div>
                                       <div class="col">
                                         <input type="text" id="inputPassword6" class="form-control form-control-sm insert-input"  name="departmentCode" aria-describedby="passwordHelpInline">
                                       </div>
                                   </div>                                    
                                   <div class="row justify-content-center align-items-center">
                                       <div class="col-3">
                                         <label for="inputPassword6" class="col-form-label">부서명</label>
                                       </div>
                                       <div class="col">
                                         <input type="text" id="inputPassword6" class="form-control form-control-sm insert-input"  name="departmentName" aria-describedby="passwordHelpInline">
                                       </div>
                                   </div>                                    
                                   <div class="row justify-content-center align-items-center">
                                       <div class="col-3">
                                         <label for="inputPassword6" class="col-form-label">부서장</label>
                                       </div>
                                       <div class="col">
                                         <input type="text" id="inputPassword6" readonly class="form-control form-control-sm insert-input" name="name" aria-describedby="passwordHelpInline" >
                                         <input type="hidden" id="inputPassword6" class="form-control form-control-sm insert-input" name="managerCode"  aria-describedby="passwordHelpInline" >
                                       </div>
                                   </div> 
                                   </div>
                               </div>
                             </div>
                         </div>
                   
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-primary insert-Btn">저장</button>
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
               </div>
           </div>
       </div>
   </div>
		
<!-- 부서등록모달끝!!~~~ -->		

<!-- 부서수정모달!!!1 -->
    <div class="modal fade" id="deptModifyModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">부서수정</h5>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>부서수정</h4>
                            </div>

                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row g-3 align-items-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label">부서코드</label>
                                        </div>
                                        <div class="col">
                                          <input type="text" id="inputPassword6" class="form-control form-control-sm modify-input" readonly aria-describedby="passwordHelpInline" name="departmentCode">
                                        </div>
                                    </div>                                    
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-3">
                                          <label for="inputPassword6" class="col-form-label">부서명</label>
                                        </div>
                                        <div class="col">
                                          <input type="text" id="inputPassword6" class="form-control form-control-sm modify-input" aria-describedby="passwordHelpInline"  name="departmentName">
                                        </div>
                                    </div>                                    
                                   <div class="row justify-content-center align-items-center">
                                       <div class="col-3">
                                         <label for="inputPassword6" class="col-form-label">부서장</label>
                                       </div>
                                       <div class="col">
                                         <input type="text" id="inputPassword6" readonly class="form-control form-control-sm modify-input" name="name" aria-describedby="passwordHelpInline" >
                                         <input type="hidden" id="inputPassword6" class="form-control form-control-sm modify-input" name="managerCode"  aria-describedby="passwordHelpInline" >
                                       </div>
                                   </div> 

                                    </div>
                                </div>
                              </div>
                          </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modify-save-Btn" >저장</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
 <!-- 부서수정모달끝!!! -->
 
 <!-- 사원검색모달!!!!! -->		
	    <div class="modal fade" id="empModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">사원검색</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>사원검색</h4>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row">
                            <div id="empGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
<!-- 사원검색모달끝 -->
 
	<script>
	    var gridData = [{name:'hh'},{name:'hh'},{name:'hh'},{name:'hh'},{name:'hh'},{name:'hh'},{name:'hh'},{name:'hh'},{name:'hh'}]
		const Grid = tui.Grid;
		const grid = new Grid({
			  el: document.getElementById('grid'), // Container element
		      data: gridData.slice(0, 8),
		      width: 650,
		      bodyHeight: 600,
		      rowHeaders: [
		          {
		            type: 'checkbox',
		            header: `
		              <span class="custom-input">
		              <input type="checkbox" id="all-checkbox-1" class="hidden-input" name="_checked" />
		            	<label for="all-checkbox-1" class="checkbox selectCheck">✔</label>
		          	</span>
		          `,
		            renderer: {
		              type: gridCheckbox
		            }
		          }
		        ],
		      scrollX: true,
		      scrollY: false,
			  columns: [
			    {
			      header: '부서코드',
			      name: 'departmentCode'
			    },
			    {
			      header: '부서명',
			      name: 'departmentName'
			    },
			    {
			      header: '부서장코드',
			      name: 'managerCode',
			      hidden:true
			    },
			    {
			     header:'부서장',
			     name:'name'
			    },
			    {
			     header:'총원',
			     name:'count'
			    }
			  ],
			  data: [
				{}
			  ],
			showDummyRows: true
			});

			instance.resetData(newData); // Call API of instance's public method
		      
			Grid.applyTheme('striped'); // Call API of static method
	</script>
	<script th:src="@{/js/human/modal/employeeListModal.js}"></script>
	<script th:src="@{/js/human/departmentList.js}"></script>
</body>
</body>
</html>