<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/human_layout}"
      layout:fragment="Content">
    <style>
        .card {
            border: none;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }
        .form-label {
            margin-bottom: 0.25rem;
        }
		.table>tbody>tr>td, .table>tbody>tr>th, .table thead th {
		    padding: 0px 0px 4px 24px !important;
		   	font-size:14px;
		}
		@media (min-width:720px){
			.table>tbody>tr>td, .table>tbody>tr>th, .table thead th {
		    padding: 0px 0px 4px 4px !important;
		    font-size:12px;
			}
		}	
		.content-box, .content-box .card-body{
			height:100%;		
		}
    </style>
    <div class="container-fluid p-4">
        <!--  세부 검색 구역 -->
      <div class="card mb-4 bg-white">
        <div class="card-body bg-light">
        <h3>사원정보</h3>
          <form>
          	<!-- 1행 시작 (화면 작아질시 두줄로 변환)-->
            <div class="row mb-3 align-items-center row-gap-3">
            <!-- 직위/직급 -->
              <div class="col-md-6"><!-- 크기가 sm으로 변환시 한줄 전체차지 -->
                <div class="row align-items-center">
                	<div class="col-auto  pe-0">
            	      <label class="form-label me-1 mb-0 label-width">직위/직급</label>
                  	</div>
                  	<div class="col align-self-start ps-0">
                  		<select class="form-select input-width-120 search-option " name="employeePosition">
                    		<option value="">전체</option>
                    		<th:block th:each="com : ${comList}">
                    			<option  th:if="${com.commonCode eq '0H'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
                    		</th:block>
		                </select>
                  	</div>
                </div>
              </div>
              <!-- 직위/직급 끝-->
              <!-- 사원 -->
              <div class="col">
                <div class="row align-items-center">
                	<div class="col-auto"> <!-- auto로 크기를 줘서 컨텐츠 크기만큼만 너비 차지 -->
                  		<label class="form-label me-2 mb-0 label-width">사원</label>
                  	</div>
                  	<div class="col">
                  		<input type="text" class="form-control input-width-120 me-2 search-option" name="employeeId" placeholder="사원" />
					</div>
                </div>
              </div>
              <!-- 사원끝 -->
            </div>
			<!-- 2행 시작 -->
            <div class="row align-items-center mb-3">
            	<!-- 부서칸-->
            	<div class="col-sm-5 ">
              		<div class="row align-items-center">
              			<div class="col-auto">
                  			<label class="form-label me-2 mb-0 label-width">부서</label>
                  		</div>
                		<div class="col">
		                	<select class="form-select input-width-150 search-option" name="departmentCode">
	                    		<option value="">전체</option>
                    		<th:block th:each="dept : ${deptList}">
                    			<option   th:value="${dept.departmentCode}" th:text="${dept.departmentName}"></option>
                    		</th:block>
		                 	</select>
	                 	</div>
    	            </div>
              	</div>
              	<!-- 부서칸 끝! -->
              	<!-- 재직구분칸 시작! -->
              	<div class=" col-sm-7 ">
              		<!-- 라벨(재직구분)만 auto로 컨텐츠크기만 차지하게하고, 나머지 라디오버튼(라벨포함)에 대해서는 남는부분을 3등분 시켜 동일한 크기를 지니게함 -->
              		<div class="row align-items-center">
              			<div class="col-auto">
                  			<label class="form-label me-2 mb-0 label-width ">재직구분</label>
                  		</div>
                  		<div class="col">
                    		<input class="form-check-input search-option1" type="radio" name="statusType" id="status2" value="m1" />
                    		<label  for="status2">재직</label>
                  		</div>
                  		<div class="col">
                    		<input class="form-check-input" type="radio" name="statusType" id="status3" value="m2" />
                    		<label  for="status3">휴직</label>
                  		</div>
                    	<div class="col">
                    		<input class="form-check-input" type="radio" name="statusType" id="status3" value="m3" />
                    		<label  for="status3">퇴직</label>
                  		</div>
                	</div>
              	</div>
              	<!-- 재직구분칸끝!! -->
            </div>
			<!-- 2행끝 (크기바뀌면 2행이아니라 각자 한줄임)-->
			<!-- 3행시작 -->
			<!--   날짜칸 시작 lg이하에서는 두줄로 표시하게 바꿈-->
            <div class="row mb-3 align-items-center row-gap-3">
            	<div class="col-lg-7 ">
                	<label class="form-label me-2 mb-0 label-width">입사일자</label>
                    <input type="date" class="search-option" name="hireDateStart">
                    <!-- &nbsp;는 공백(띄워쓰기)임 -->
                    <span class="me-2">&nbsp;&nbsp;&nbsp;~&nbsp;</span>
                  	<input type="date" class="search-option" name="hireDateEnd">
               	</div>
              	<div class="col-auto">                    
                	<label class="form-label me-2 mb-0 label-width">퇴사일자</label>
                  	<input type="date" class="search-option" name="resignationDateStart">
                    <span class="me-2">&nbsp;&nbsp;&nbsp;~&nbsp;</span>
                  	<input type="date" class="search-option" name="resingationDateEnd">                    
              	</div>
            </div>
            <!-- 날짜칸끝 -->
            <!-- 4행 시작 -->
            <!-- between으로 각 콘텐츠를 양끝에둠 -->
            <div class="row justify-content-between  mb-2">
           		<div class="col ">
	           		<div class="row ">
              	  		<div class="col-auto ">
                  			<label class="form-label me-2 mb-0 label-width">성명</label>
                  		</div>
                  		<div class="col-8 col-lg-6">
                  			<input type="text" class="form-control input-width-200 search-option" name="employeeName" placeholder="성명" />
                  		</div>
                  	</div>
                </div>
                <div class="col-auto row justify-content-end">
                	<div class="col">
                        <button type="button" class="btn btn-primary search-btn">검색</button>
                    </div>
                </div>
            </div>
            <!-- 4행끝 -->
          </form>
        </div>
      </div>
			<!--  세부 검색 구역 끝!!!! -->
 <form id="generalForm" onsubmit="return false">
 <button type="submit" class="check-null" style="display:none;"></button>
        <div class="row g-4 gap-0">

            <!-- 직원 세부 정보-->
            <div class="col-lg-8 pe-0">
                <div class="card content-box employee-box">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="employeeTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">일반</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="salary-tab" data-bs-toggle="tab" data-bs-target="#salary" type="button" role="tab" aria-controls="salary" aria-selected="false">급여</button>
                            </li>
                        </ul>
                        <div class="tab-content mt-3" id="employeeTabContent">
                            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                               
                                    <div class="row g-3">
                                        <div class="col-md-4 text-center">
                                            <img src="/placeholder.svg?height=100&width=100" style="height:180px;width:180px;"alt="Employee Photo" class="employee-photo mb-2" id="employeePhoto">
                                            <input type="hidden" class="form-control form-control-sm EmployeeDetailVO" id="photoUpload" name="employeeImage">
                                        </div>
                                        <div class="col-md-8 ">
                                                    	<input type="hidden" class="form-control form-control-sm EmployeeVO" name="employeeCode" onkeypress="return false;" style="caret-color: transparent !important;">
                                        	<div class="row mb-1">
                                                	<div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    	<label class="form-label">사원아이디</label>
                                                    </div>
                                                    <div class="col-md-8 col-sm-9 col-lg-7 ps-0">
                                                    	<input type="text" class="form-control form-control-sm EmployeeVO" name="employeeId" onkeypress="return false;" style="caret-color: transparent !important;">
                                                    </div>
                                                </div>
                                            <div class="row mb-1">
	                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                            	      <label class="form-label">성명</label>
                                            	    </div>  
                                            	    <div class="col-md-8 col-sm-9 col-lg-7 ps-0">  
                                          	    	  <input type="text" class="form-control form-control-sm EmployeeVO" name="name" required>
    	                                            </div>
    	                                    </div>
    	                                   	<div class="row mb-1">    
                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    <label class="form-label">외국어성명</label>
                                                </div>
                                                <div class="col-md-8 col-sm-9 col-lg-7 ps-0">    
                                                    <input type="text" class="form-control form-control-sm EmployeeDetailVO" name="engName" required>
                                                </div>
                                            </div>
                                            <div class="row mb-1">
                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    <label class="form-label">주민등록번호</label>
                                                </div>
                                                <div class="col-md-8 col-sm-9 col-lg-7 ps-0">    
                                                    <input type="text" class="form-control form-control-sm EmployeeDetailVO" name="identityNo" required>
                                                </div>
                                            </div>
                                            <div class="row mb-1">
                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    <label class="form-label">부서코드</label>
                                                </div>
                                                <div class="col-md-8 col-sm-9 col-lg-7 ps-0">
                                                	<select class="form-select form-select-sm EmployeeVO" name="departmentCode" required>
							                    		<th:block th:each="dept : ${deptList}">
							                    			<option   th:value="${dept.departmentCode}" th:text="${dept.departmentName}"></option>
							                    		</th:block>
                                            		</select>    
                                                </div>
                                            </div>
                                            <div class="row mb-1 mb-sm-0 ">
                                                <div class="col-sm-3 col-lg-5 col-md-4 pe-0">
                                                    <label class="form-label">세대주여부</label>
                                                </div>
                                                <div class="col-md-8 col-sm-9 col-lg-7 ps-0">
                                                    <select class="form-select form-select-sm EmployeeDetailVO" name="headCheck" required>
                                                    	<option value="o">o</option>
                                                    	<option value="x">x</option>
                                            		</select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!-- 사진밑 -->
                                        <div class="col-md-6 mt-sm-1 mt-md-2">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">직위/직급</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<select class="form-select form-select-sm EmployeeVO" name="employeePosition" required>
							                    		<th:block th:each="com : ${comList}">
							                    			<option  th:if="${com.commonCode eq '0H'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
							                    		</th:block>
                                            		</select>
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-sm-1 mt-md-2">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">직책</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<select class="form-select form-select-sm EmployeeDetailVO" name="duty" required>
                                            		    <th:block th:each="com : ${comList}">
							                    			<option  th:if="${com.commonCode eq '0K'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
							                    		</th:block>
                                            		</select>
                                            	</div>
                                        	</div>
                                        </div>
                                        <!--  -->
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">전화번호</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" name="tel" required>
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">모바일</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" name="phone" required>
                                            	</div>
                                        	</div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">이메일</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="text" class="form-control form-control-sm EmployeeDetailVO" name="email" required>
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">재직구분</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<select class="form-select form-select-sm EmployeeVO" name="statusType" required>
                                            			<th:block th:each="com : ${comList}">
							                    			<option  th:if="${com.commonCode eq '0M'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
							                    		</th:block>
                                            		</select>
                                            	</div>
                                        	</div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">입사구분</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<select class="form-select form-select-sm EmployeeVO" name="hireType" required>
                                            			<th:block th:each="com : ${comList}">
							                    			<option  th:if="${com.commonCode eq '0L'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
							                    		</th:block>
                                            		</select>
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">입사일자</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="date" class="form-control form-control-sm EmployeeVO " name="hireDate" required>
                                            	</div>
                                        	</div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-5 col-xl-4 pe-0 ">
                                           			<label class="form-label">재직상태</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<select class="form-select form-select-sm EmployeeDetailVO" name="empStatus">
														<option value="" >해당없음</option>
														<th:block th:each="com : ${comList}">
							                    			<option  th:if="${com.commonCode eq '0J'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
							                    		</th:block>
														
                                            		</select>
                                            	</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                        	<div class="row">
                                        		<div class="col-md-4 col-sm-3 col-lg-4 col-xl-4 pe-0 ps-lg-0 ">
                                            		<label class="col-form-label-sm">퇴사일자</label>
                                            	</div>
                                            	<div class="col ps-0">
                                            		<input type="date" class="form-control form-control-sm EmployeeVO" name="resignationDate">
                                            	</div>
                                        	</div>
                                        </div>
                                        	
                                        <div class="col-12">
                                            <label class="form-label">주소</label>
                                            <input type="text" class="form-control form-control-sm EmployeeDetailVO mb-2 findZipCode" id="zipcode" placeholder="우편번호" name="zipcode" onkeypress="return false;" required>
                                            <input type="text" class="form-control form-control-sm EmployeeDetailVO mb-2 findZipCode" id="address" placeholder="기본주소" name="address" onkeypress="return false;" style="caret-color: transparent !important;" required>
                                            <input type="text" class="form-control form-control-sm EmployeeDetailVO" id="detailAddress" placeholder="상세주소" name="detailAddress" onkeypress="return false;" style="caret-color: transparent !important;"  required>
                                        </div>
                                    </div>
                                    
                                
                            </div>
                            <div class="tab-pane fade" id="salary" role="tabpanel" aria-labelledby="salary-tab">
                                    <div class="row g-3 justify-content-between ">
                                        <div class="col-md-6">
                                        	<div class="row">
												<div class="col-auto">
		                                            <label class="form-label">기본급</label>
												</div>                                        	
												<div class="col">
		                                            <input type="number" class="form-control form-control-sm EmployeeSalaryVO" name="monthlySalary" required>
												</div>
                                        	</div>
                                        </div>
                                        <div class="col-auto">
                                        	<div class="row justify-content-end">
	                                        	<div class="col-auto">
	                                        		<button type="button" class="btn btn-success btn-sm appendRowBtn">추가</button>
	                                        	</div>
	                                        	<div class="col-auto">
	                                        		<button type="button" class="btn btn-danger btn-sm deleteRowBtn">삭제</button>
	                                        	</div>
	                                        	
                                        	</div>
                                        </div>
                                        <div class="col=12">
                                        <div id="allowanceGrid"></div>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">은행</label>
                                            <input type="hidden" class="form-control form-control-sm EmployeeDetailVO " name="bank" onkeypress="return false;" style="caret-color: transparent !important;" required>
                                            <input type="text" class="form-control form-control-sm EmployeeDetailVO bank-Btn" name="bankName" onkeypress="return false;" style="caret-color: transparent !important;" required>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">계좌번호</label>
                                            <input type="text" class="form-control form-control-sm EmployeeDetailVO" name="bacct" required>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">예금주</label>
                                            <input type="text" class="form-control form-control-sm EmployeeDetailVO" name="depositor" required>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="mt-3 text-end ">
                        <!-- 
                        <div class="row ">
							<div class="col-auto">
	                            <button type="button" class="btn btn-secondary btn-sm" id="imgBtn">첨부하기</button>
	                            <span class="px-4">사진명 : </span>
								<span class="img-Text"></span>
							</div>                        
                        	<div class="col">
	                            <button type="button" class="btn btn-secondary btn-sm" id="resetBtn">다시쓰기</button>
	                            <button type="button" class="btn btn-success btn-sm" id="newBtn">신규</button>
	                            <button type="button" class="btn btn-primary btn-sm" id="saveBtn" data-mode="insert">저장</button>
	                            <input type="file" style="display:none;" accept=".jpg, .png" id="imgInput"></button>
	                            <button type="button" class="btn btn-primary btn-sm funny-btn" ></button>
                        	</div>
                        </div>
                         -->
                            
                        </div>
                    </div>
                         <div class="row justify-conetnt-between">
							<div class="col align-self-center">
								<div class="row">
									<div class="col-auto">
			                            <button type="button" class="btn btn-secondary btn-sm ms-3 mb-3" id="imgBtn">첨부하기</button>
									</div>
									<div class="col-auto align-self-center ">
			                            <span class="px-4">사진명 : </span>
										<span class="img-Text"></span>
									</div>
									<div class="col-auto">
									</div>
								</div>
							</div>                        
                        	<div class="col">
                        		<div class="row justify-content-end">
                        			<div class="col-auto">
			                            <button type="button" class="btn btn-secondary btn-sm" id="resetBtn">다시쓰기</button>
                        			</div>
                        			<div class="col-auto px-0">
			                            <button type="button" class="btn btn-success btn-sm " id="newBtn">신규</button>
			                        </div>    
			                            <input type="file" style="display:none;" accept=".jpg, .png" id="imgInput"></button>
			                        <div class="col-auto">    
			                            <button type="button" class="btn btn-primary btn-sm mb-3 me-3" id="saveBtn" data-mode="insert">저장</button>
			                        </div>    
                        		</div>
                        	</div>
                        </div>
                </div>
            </div>
			<!-- 세부 정보 끝!!! -->
            <!-- 직원리스트 테이블 -->
            <div class="col-lg-4 ps-0 list-box">
               
                        	<div id="grid"></div>
                    
            </div>
        </div>
</form>
        <!-- Action Buttons -->
        <div class="mt-3">
            <button class="btn btn-danger btn-sm delete-Btn">
                <i class="bi bi-trash"></i> 삭제
            </button>
            <button class="btn btn-outline-secondary btn-sm">
                <i class="bi bi-file-earmark-spreadsheet"></i> Excel 출력
            </button>
            <button class="btn btn-outline-secondary btn-sm">
                <i class="bi bi-printer"></i> 인쇄
            </button>
        </div>
    </div>

<!-- 은행모달시작!!!! -->
    <div class="modal fade" id="bankModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">은행검색</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>은행검색</h4>
                            </div>
                            <div class="col-auto">
                                <div class="row justify-content-end" >
                                    <div class="col ">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text p-0" style="width: 100px;">
                                                    <select class="form-select input-group-text form-selelct-sm " style="text-align:start; border:0; background-color:white; font-size:14px;" id="inputGroupSelect01">
                                                        <option selected style="width:80px;">은행명</option>
                                                        <option value="1" style="width:80px;">은행코드</option>
                                                    </select>                                          
                                                </span>
                                                <input type="text" class="form-control form-control-sm" aria-label="Text input with dropdown button">
                                                <button class="btn btn-success" type="button" id="button-addon2">검색</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row">
                            <div id="bankGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

<!-- 은행모달끝!! -->

<!-- 수당검색모달 -->
<div class="modal fade" id="allowanceItemModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">수당검색</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>수당검색</h4>
                            </div>
                            <div class="col-auto">
                                <div class="row justify-content-end" >
                                    <div class="col ">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text p-0" style="width: 100px;">
                                                    <select class="form-select input-group-text form-selelct-sm " style="text-align:start; border:0; background-color:white; font-size:14px;" id="inputGroupSelect01">
                                                        <option selected style="width:80px;">수당명</option>
                                                        <option value="1" style="width:80px;">수당코드</option>
                                                    </select>                                          
                                                </span>
                                                <input type="text" class="form-control form-control-sm" aria-label="Text input with dropdown button">
                                                <button class="btn btn-success" type="button" id="button-addon2">검색</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row">
                            <div id="allowanceItemGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
<!-- 수당검색모달끝!! -->
<link id="contextPathHolder" th:data-contextPath="${@environment.getProperty('server.servlet.context-path')}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src='@{/js/common/toastsetting.js}'></script>



    
    <script th:inline="javascript">
    const Grid = tui.Grid;

    const grid = new Grid({
  	  el: document.getElementById('grid'), // Container element
  	  rowHeight:10,
  	  minRowHeight:25,
  	  bodyHeight:'fitToParent',
  	  minBodyHeight:'fitToParent',
      pageOptions: {
          useClient: true,
          perPage: 25
        },
      rowHeaders: [
          {
            type: 'checkbox',
            header: `
              <span class="custom-input">
              <input type="checkbox" id="all-checkbox-1" class="hidden-input" name="_checked" />
            	<label for="all-checkbox-1" class="checkbox selectCheck">✔</label>
          	</span>
          `,
            renderer: {
              type: gridCheckbox
            }
          }
        ],
  	  columns: [
  		  	{
  		  	  header:'사원코드',
  		  	  name:'employeeCode',
  		  	  hidden:true,
  		  	},
    	    {
    	      header: '사원번호',
    	      name: 'employeeId'
    	    },
    	    {
    	      header: '성명',
    	      name: 'name'
    	    },
    	    {
    	      header: '부서명',
    	      name: 'departmentName',
    	    },
    	    {
      	      header: '직위/직급코드',
      	      name: 'employeePosition',
      	      hidden: true
      	    },
    	    {
    	     header:'직위/직급명',
    	     name:'employeePositionName'
    	    }
    	  ],
  	  
  	  data:[]
  	});

  document.addEventListener('DOMContentLoaded', function() {
      fetch("/employees/emps")
      .then(result => result.json())
      .then(datas =>{grid.resetData(datas)})
	})    
	 
  document.getElementById('salary-tab').addEventListener('click', function() {
      window.setTimeout(function(){
  		  allowanceGrid.refreshLayout();
      }, 200) 
  });

 
    
    const allowanceGrid = new Grid({
    	  el: document.getElementById('allowanceGrid'), // Container element
    	  bodyHeight:250,
          rowHeaders: [
              {
                type: 'checkbox',
                header: `
                  <span class="custom-input">
                  <input type="checkbox" id="all-checkbox" class="hidden-input" name="_checked" />
                	<label for="all-checkbox" class="checkbox selectCheck">✔</label>
              	</span>
              `,
                renderer: {
                  type: gridCheckbox
                }
              }
            ],
    	  columns: [
    	    {
    	      header: '수당코드',
    	      name: 'allowanceCode'
    	    },
    	    {
    	      header: '수당명',
    	      name: 'allowanceName'
    	    },
    	    {
    	      header: '수당액',
    	      name: 'allowancePrice',
              editor: {
                  type: gridNumber
                }
    	    },
    	    {
    	      header: '과세여부',
    	      name: 'allowanceCheck',
	          
    	    },
    	    
    	  ],
    	  data: [
    	  ]
    	});

    //카카오 다음 map api
        // DaumMapApi 우편번호 찾기 state 0 : 등록 / 1: 수정
        function daumMapApi(state) {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        if(state == 0) {
                            document.getElementById("detailAddress").value = extraAddr;
                        }                        
                    
                    } else {
                        document.getElementById("detailAddress").value = '';
                    }
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    if(state == 0) {
                        document.getElementById('zipcode').value = data.zonecode;
                        document.getElementById("address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("detailAddress").focus();
                    }
                }
            }).open();
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            
            // 우편번호 검색 이벤트(Daum Api)
            document.querySelector('.findZipCode').addEventListener('click', function () {
                daumMapApi(0);
            })

    
        })
    
    
    
//    	instance.resetData(newData); // Call API of instance's public method

//    	Grid.applyTheme('striped'); // Call API of static method
    </script>
    
    <script th:src="@{/js/human/modal/bankModal.js}"></script>
    <script th:src="@{/js/human/modal/allowanceModal.js}"></script>
    
	<script th:inline="javascript" th:src="@{/js/human/employeeList.js}"></script>
</html>

