<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/human_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<style>
        body {
            font-size: 0.85rem;
        }
        .card {
            border: none;
            box-shadow: none;
        }
		.scroll-bar{
			overflow-x:auto ;
			overflow-y:auto ;
		
		}
		.scroll-table{
		
			min-width:1500px ;
			min-height:200px;
			max-height:400px ;
			
		}
		.scroll-table table thead tr th {
			padding:8px !important;
			padding-left:8px !important;
			padding-right:8px !important;
			text-align:center;
		}
		.scroll-table table tbody tr td {
			padding:8px !important;
			padding-left:8px !important;
			padding-right:8px !important;
			border:1px #ccc solid;
	
		}
		td input[type='text'] {
			width:100%;
			border:0;
			
		}
		.scroll-x {
			overflow:auto;
		}
		#payrollPrintModal table {
		  width:800px;
		  
		
		}
		#payrollPrintModal table, td, th {
		border : 2px solid black;
		border-collapse : collapse;
		text-align: center;
		padding:8px;
		}
		#payrollPrintModal table {
		border: 3px solid black;
		}
		#payrollPrintModal .background-payment{
		background-color: rgb(216, 216, 216);
		font-weight: 500;
		}
		#payrollPrintModal .bold-color {
		background-color:rgb(20, 78, 38);
		font-size: large;
		color:white;
		}
		#payrollPrintModal tfoot {
		border-top: 3px solid black;
		
		}
		#payrollPrintModal .modal-body  {
		margin:0 auto;
		}
		#print-content{ 
			max-height:1500px;
		}
		body {
  overflow: visible;
}
</style>
<title>Insert title here</title>
</head>
<body>
	<div class=" p-4 kwBorder rounded bg-white">
		<div class="row"> <!-- start first row -->
        <!--  세부 검색 구역 -->
        <h1>급여정보</h1>
      <div class="card mb-4 bg-white">
        <div class="card-body kwBorder bg-light">
          <form>
          	<!-- 1행 시작 (화면 작아질시 두줄로 변환)-->
            <div class="row mb-3 align-items-center row-gap-3">
            <!-- 직위/직급 -->
              <div class="col-md-6"><!-- 크기가 sm으로 변환시 한줄 전체차지 -->
                <div class="row align-items-center">
	                <div class="col">
		                <div class="input-group mb-3">
						  <label class="input-group-text">직위/직급</label>
						  <select class="form-select search-option " name="employeePosition">
		                  		<option value="">전체</option>
		                  		<th:block th:each="com : ${comList}">
		                  			<option  th:if="${com.commonCode eq '0H'}" th:value="${com.codeRule}" th:text="${com.commonName}"></option>
		                  		</th:block>
						  </select>
						</div>
	                </div>
                </div><!-- - -->
              </div><!--  -->
              <!-- 직위/직급 끝-->
              <!-- 사원 -->
              <div class="col">
                <div class="row align-items-center">
                	<div class="col"> <!-- auto로 크기를 줘서 컨텐츠 크기만큼만 너비 차지 -->
	                	<div class="input-group mb-3">
						  <span class="input-group-text" >사원</span>
						  <input type="text" class="form-control search-option" placeholder="사원아이디" name="employeeId" >
						</div>
                	
                  	</div>
                </div>
              </div>
              <!-- 사원끝 -->
            </div>
			<!-- 2행 시작 -->
            <div class="row align-items-center mb-3">
            	<!-- 부서칸-->
            	<div class="col ">
              		<div class="row align-items-center">
              			<div class="col">
	              			<div class="input-group mb-3">
							  <label class="input-group-text">부서</label>
							  <select class="form-select search-option " name="departmentCode">
		                    		<option value="">전체</option>
	                    		<th:block th:each="dept : ${deptList}">
	                    			<option   th:value="${dept.departmentCode}" th:text="${dept.departmentName}"></option>
	                    		</th:block>
							  </select>
							</div>
                  		</div>
    	            </div>
              	</div>
              	<!-- 부서칸 끝! -->
              	<!-- 재직구분칸 시작! -->
              	<div class=" col">
              		<!-- 라벨(재직구분)만 auto로 컨텐츠크기만 차지하게하고, 나머지 라디오버튼(라벨포함)에 대해서는 남는부분을 3등분 시켜 동일한 크기를 지니게함 -->
              		<div class="row align-items-center">
              			<div class="col">
              				<div class="input-group mb-3">
							  <label class="input-group-text">재직구분</label>
							  <select class="form-select search-option " name="statusType">
	                    			<option value="m1">재직</option>
	                    			<option value="m2">휴직</option>
	                    			<option value="m3">퇴직</option>
							  </select>
							</div>
                  		</div>
                	</div>
              	</div>
              	<!-- 재직구분칸끝!! -->
            </div>
			<!-- 2행끝 (크기바뀌면 2행이아니라 각자 한줄임)-->
			<!-- 3행시작 -->
			<!--   날짜칸 시작 lg이하에서는 두줄로 표시하게 바꿈-->
            <div class="row mb-3 align-items-center row-gap-3">
            	<div class="col-lg col-md-12">
            		<div class="input-group mb-3">
            		  <span class="input-group-text">입사일자</span>
	                  <input type="date" class="search-option form-control" name="hireDateStart">
					  <span class="input-group-text">~</span>
	                  <input type="date" class="search-option form-control" name="hireDateEnd">
					</div>
					            		
               	</div>
              	<div class="col-lg col-md-12">                    
              		<div class="input-group mb-3">
            		  <span class="input-group-text">퇴사일자</span>
	                  <input type="date" class="search-option form-control" name="resignationDateStart">
					  <span class="input-group-text">~</span>
	                  <input type="date" class="search-option form-control" name="resingationDateEnd">
					</div>
              	</div>
            </div>
            <!-- 날짜칸끝 -->
            <!-- 4행 시작 -->
            <!-- between으로 각 콘텐츠를 양끝에둠 -->
            <div class="row justify-content-between  mb-2">
           		<div class="col-lg col-md-12 ">
	           		<div class="row ">
              	  		<div class="col ">
		                	<div class="input-group mb-3">
							  <span class="input-group-text" >사원명</span>
							  <input type="text" class="form-control search-option" placeholder="사원명" name="employeeName" >
							</div>                  		
						</div>
                  	</div>
                </div>
                <div class="col-lg col-md-12">
                	<div class="row">
	                	<div class="col align-itself-center">
	                        <div class="input-group mb-3">
		            		  <span class="input-group-text">귀속연월</span>
			                  <input type="month" class="search-option form-control" name="payrollYStart">
							  <span class="input-group-text">~</span>
			                  <input type="month" class="search-option form-control" name="payrollYEnd">
							</div>   
	                    </div>
                	</div>
                </div>
            </div>
            <!-- 4행끝 -->
            <!-- 5행 시작 -->
            <div class="row justify-content-end">
               	<div class="col-auto align-itself-center">
                       <button type="button" class="btn btn-primary search-btn">검색</button>
                </div>
            </div>
            <!-- 5행 끝  -->
          </form>
        </div>
      </div>
			<!--  세부 검색 구역 끝!!!! -->

		</div> <!-- end first row -->
		<div class="row justify-content-end">
			<div class="col-auto">
				<span class="payrolldate"></span>
			</div>
		
		</div>
			<!-- 버튼용 로우 -->
			<div class="row justify-content-between mb-2">
				<div class="col-auto">
					<div class="row">
						<div class="col-auto">
							<button type="button" class="btn btn-sm btn-danger delete-Btn">삭제</button>
						</div>
						<div class="col-auto">
							<button type="button" class="btn btn-sm btn-success examine-Btn" data-mode="check">검토완료</button>
						</div>
						<div class="col-auto">
							<button type="button" class="btn btn-sm btn-warning examine-Btn" data-mode="cancel">검토취소</button>
						</div>
					</div>
				</div>
				<div class="col-auto">
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-sm btn-secondary publication-Btn">명세서발행</button>
							<button type="button" class="btn btn-sm btn-secondary">Excel</button>
							<button type="button" class="btn btn-sm btn-secondary printModal-Btn">인쇄</button>
						</div>				
					</div>
				</div>
			</div>
		<!-- 급여 테이블시작!!! -->
		<div class="row">
			<div class="col scroll-x">
				<div id="grid"></div>			
			</div>
		</div>
	</div>
	
	<!-- 급여수정내역 모달 -->
    <div class="modal fade" id="salModifyModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">급여내역수정</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>급여내역수정</h4>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row" style="overflow:hidden;">
                            <div id="salModifyGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary update-Btn" >저장</button>
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">닫기</button>

                </div>
            </div>
        </div>
    </div>
<!-- 급여수정내역 모달 -->

<!-- 급여상세내역 모달 -->
    <div class="modal fade" id="salDetailModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">급여상세내역</h5>
                    <div class="action-buttons">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- 검색창-->
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <h4>급여상세내역</h4>
                            </div>
                        </div> <!--검색창끝-->
                        <!--사원테이블-->
                        <div class="row" style="overflow:hidden;">
                            <div id="salDetailGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">닫기</button>

                </div>
            </div>
        </div>
    </div>
<!-- 급여수정내역 모달 -->


<!-- 인쇄모달 -->
    <div class="modal fade" id="payrollPrintModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">급여명세서</h5>

                </div>
                <div class="modal-body">
<!-- 인쇄내용시작 -->
<div id="print-content">

</div>

<!-- 인쇄내용끝 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary print-Btn" data-bs-dismiss="modal">인쇄</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
<!-- 인쇄모달끝!!! -->

	<script th:src='@{/js/common/deleteRowBtn.js}'></script>	
	<script th:inline="javascript">
		const Grid = tui.Grid;
	    const grid = new tui.Grid({
	        el: document.getElementById('grid'),
	        width:'auto',
	        bodyHeight:401,
	        rowHeaders: [
	            {
	              type: 'checkbox',
	              header: `
	                <span class="custom-input">
	                <input type="checkbox" id="all-checkbox" class="hidden-input" name="_checked" />
	              	<label for="all-checkbox" class="checkbox selectCheck">✔</label>
	            	</span>
	            `,
	              renderer: {
	                type: gridCheckbox
	              }
	            }
	          ],
	          pageOptions: {
	        	  useClient: true,
	              perPage: 10
	          }, 
	        scrollX: true,
	        scrollY: false,
	        columns: [
	          {
	        	  header:'급여명세번호',
	        	  name:'salaryNumber',
	        	  hidden:true
	          },
	          {
	            header: '귀속연월',
	            name: 'payrollYdate'
	          },
	          {
	        	header:'사원아이디',
	        	name:'employeeId'
	          },
	          {
	        	header:'성명',
	        	name:'name'
	          },
	          {
	            header: '기본급',
	            name: 'monthlySalary',
            	formatter: function (e) {
                    const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
                    return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
                  },
	          },
	          {
	        	header:'연장수당',
	        	name:'overtimeAllowance',
	            formatter: function (e) {
	  		          const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
	  		          return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
	  		    },
	        	
	          },
	          {
		        header:'야간수당',
		        name:'nightAllowance',
                formatter: function (e) {
		  		          const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
		  		          return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
		  		    },
		      },
	          {
	            header: '주말근무수당',
	            name: 'weekendAllowance',
	            formatter: function (e) {
		  		          const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
		  		          return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
	  		    },
	          },
		      {
		        header: '지급총액',
		        name: 'paymentTotal',
	            formatter: function (e) {
		  		          const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
 		          return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
	  		    },
	          },
		      {
		        header: '소득세',
		        name: 'incomeTax',
	            formatter: function (e) {
		  		          const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
		  		          return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
	  		    },
	          },
		      {
		        header: '지방세',
		        name: 'localTax',
	            formatter: function (e) {
  		          const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
  		          return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
	  		    },
	          },
		      {
		        header: '국민연금',
		        name: 'nationalInsurance',
		        formatter: function (e) {
		  		const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
		  		return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
	  		    },
	          },
		      {
		        header: '건강보험료',
		        name: 'healthInsurance',
	            formatter: function (e) {
	  		     const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
	  		     return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
		      },

	          },
		      {
		        header: '고용보험료',
		        name: 'employmentInsurance',
	            formatter: function (e) {
	  		    const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
	  		     return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
		    },
		        
	          },
		      {
		        header: '공제금액',
		        name: 'deductionsTotal',
	            formatter: function (e) {
	  		     const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
	  		     return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
		    },
		        
	          },
		      {
		        header: '실지급액',
		        name: 'realPay',
		        formatter: function (e) {
		  		const value = e.value !== undefined && e.value !== null ? e.value : 0; // 기본값 0
		  		return Number(value).toLocaleString() + "원"; // 숫자로 변환 후 포맷팅
	  		    },
		        
	          },
	          {
	            header:'검토여부',
	            name:'payrollCheck'
	          }
	        ],
	        columnOptions: {
	            frozenCount: 3,
	            frozenBorderWidth: 2,
	            minWidth: 100
	          },
	    	data:[[${list}]]
	      });
	    
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script th:src='@{/js/human/modal/payrollPrintModal.js}'></script>	
	<script th:src='@{/js/human/modal/salModifyModal.js}'></script>
	<script th:src='@{/js/human/modal/salDetailModal.js}'></script>
	<script th:src="@{/js/human/paymentList.js}"></script>
</body>
</html>