<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <!-- ~{ html 파일경로 :: fragment 이름  } -->
    <!-- common/configs/css_configs -->
    <th:block th:replace="~{common/configs/bootstrapConfigs :: BootstrapConfig }"></th:block>
    <title></title>
  </head>
  <body>
  <!-- header -->
	<header th:replace="~{common/fragments/header :: header }"></header>
	
	 <!-- content -->
	<main layout:fragment="content"></main>
	
	 <!-- footer -->
	<footer th:replace="~{common/fragments/footer :: footer}"></footer>
  </body>
</html>
