<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.buss.mapper.ClientMapper">

	<select id="selectClientList" resultType="com.cherp.app.buss.vo.ClientVO">
		SELECT client_name
		,ceo_name
		,company_tel
		,employee_name
		,employee_tel
		,event
		,client_code
		FROM client
	</select>
	
	<select id="gwSelectAllClientList" resultType="com.cherp.app.acct.vo.ClientPsVO">
		SELECT 	CLIENT_CODE
				,CLIENT_NAME
				,CEO_NAME
				,TRADE_ITEM
				,TRADE_TYPE
				,COMPANY_TEL
				,FAX
				,ADDRESS
				,EMPLOYEE_NAME
				,EMPLOYEE_TEL
				,EMPLOYEE_EMAIL
				,CLIENT_BACCT
				,CLIENT_DATE
				,BALANCEK
				,BALANCEM
				,STATE
				,EVENT
				,SUMMARY
		FROM    client
	</select>

</mapper>