<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.buss.mapper.ClientMapper">

	<!-- 거래처 리스트 전체 조회 -->
	<select id="selectClientList" resultType="com.cherp.app.buss.vo.ClientVO">
		SELECT client_name
			,ceo_name
			,company_tel
			,employee_name
			,employee_tel
			,event
			,client_code
		FROM client
	</select>

	<select id="salesClientList" resultType="com.cherp.app.buss.vo.ClientVO">
		SELECT client_name
		,ceo_name
		,company_tel
		,employee_name
		,employee_tel
		,event
		,client_code
		FROM client
		WHERE trade_type = '채권'
	</select>

	<select id="purchaseClientList" resultType="com.cherp.app.buss.vo.ClientVO">
		SELECT client_name
		,ceo_name
		,company_tel
		,employee_name
		,employee_tel
		,event
		,client_code
		FROM client
		WHERE trade_type = '채무'
	</select>
	
	<select id="gwSelectAllClientList" resultType="com.cherp.app.acct.vo.ClientPsVO">
		SELECT 	CLIENT_CODE
				,CLIENT_NAME
				,CEO_NAME
				,TRADE_TYPE
				,TRADE_STATUS
				,COMPANY_TEL
				,FAX
				,ZIPCODE
				,ADDRESS
				,DETAIL_ADDRESS
				,EMPLOYEE_NAME
				,EMPLOYEE_TEL
				,EMPLOYEE_EMAIL
				,CLIENT_BACCT
				,CLIENT_DATE
				,BALANCEK
				,BALANCEM
				,STATE
				,EVENT
				,SUMMARY
		FROM    client
	</select>

	<select id="selectClientInfo" parameterType="com.cherp.app.acct.vo.ClientPsVO">
		SELECT 	CLIENT_CODE
				,CLIENT_NAME
				,CEO_NAME
				,TRADE_TYPE
				,TRADE_STATUS
				,COMPANY_TEL
				,FAX
				,ZIPCODE
				,ADDRESS
				,DETAIL_ADDRESS
				,EMPLOYEE_NAME
				,EMPLOYEE_TEL
				,EMPLOYEE_EMAIL
				,CLIENT_BACCT
				,CLIENT_DATE
				,BALANCEK
				,BALANCEM
				,STATE
				,EVENT
				,SUMMARY
		FROM    client
		WHERE   client_code = #{clientCode}
	</select>
	
	<select id="selectAllClientContract" resultType="com.cherp.app.buss.vo.ContractVO">
		SELECT   ct.CON_NO
		        ,ct.CLIENT_CODE
		        ,c.CLIENT_NAME
		        ,ct.EMOLOYEE_NAME
		        ,ct.CON_NAME
		        ,ct.CON_SDATE
		        ,ct.CON_EDATE
		        ,ct.CON_DATE
		        ,ct.TOTAL_AMOUNT
		        ,find_code(ct.STATUS) AS statusDetail
		        ,ct.URL
		        ,ct.WRITER
		FROM    CONTRACT ct JOIN CLIENT c 
		                    ON ct.client_code = c.client_code
		WHERE   ct.CLIENT_CODE = #{clientCode}
	</select>
	
	<select id="selectAllClientContractItem" resultType="com.cherp.app.buss.vo.ContractVO">
		SELECT   ci.ITEM_NAME
		        ,ci.PRICE
		        ,ci.STOCKS_QUANTITY
		        ,ci.SUPPLY_PRICE
		        ,ci.VAT
		        ,ci.CON_NO
		        ,ci.ITEM_CODE
		        ,ci.TOTAL_PRICE
		        ,ci.IMAGE
		FROM    CONTRACT_ITEM ci JOIN CONTRACT ct
		                         ON   ci.CON_NO = ct.CON_NO
		                         JOIN CLIENT c
		                         ON   ct.client_code = c.client_code
		WHERE   c.client_code = #{clientCode}
	</select>
	<insert id="insertClient" parameterType="com.cherp.app.acct.vo.ClientPsVO">
		INSERT INTO client
				(CLIENT_CODE
				,CLIENT_NAME
				,CEO_NAME
				,TRADE_TYPE
				,TRADE_STATUS
				,COMPANY_TEL
				,FAX
				,ZIPCODE
				,ADDRESS
				,DETAIL_ADDRESS
				,EMPLOYEE_NAME
				,EMPLOYEE_TEL
				,CLIENT_BACCT
				,CLIENT_DATE
				,STATE
				,EVENT
				)
		VALUES  ('client'||client_SEQ.nextVAL
				,#{clientName}
				,#{ceoName}
				,#{tradeType}
				,#{tradeStatus}
				,#{companyTel}
				,#{fax}
				,#{zipcode}
				,#{address}
				,#{detailAddress}
				,#{employeeName}
				,#{employeeTel}
				,#{clientBacct}
				,SYSDATE
				,#{state}
				,#{event}
				)
	</insert>
	
	<update id="updateClient" parameterType="com.cherp.app.acct.vo.ClientPsVO">
		UPDATE   CLIENT
		SET		 CEO_NAME 		= #{ceoName}
				,CLIENT_NAME	= #{clientName}
				,TRADE_TYPE 	= #{tradeType}
				,TRADE_STATUS 	= #{tradeStatus}
				,COMPANY_TEL 	= #{companyTel}
				,FAX 			= #{fax}
				,ZIPCODE 		= #{zipcode}
				,ADDRESS 		= #{address}
				,DETAIL_ADDRESS = #{detailAddress}
				,EMPLOYEE_NAME 	= #{employeeName}
				,EMPLOYEE_TEL 	= #{employeeTel}
				,CLIENT_BACCT 	= #{clientBacct}
		WHERE    CLIENT_CODE	= #{clientCode}
	</update>
</mapper>