<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.buss.mapper.OrdersMapper">

	<select id="selectOrders" resultType="com.cherp.app.buss.vo.OrdersVO">
		SELECT
			a.order_no,
			a.client_code,
			c.client_name,
			a.order_date,
			a.employee_code,
			d.name,
			b.item_code,
			b.item_name,
			b.quantity,
			e.price,
			( b.quantity * e.supply_price ) supply_price,
			( b.quantity * e.vat) 			vat
		FROM
			orders a
			INNER JOIN order_item b ON a.order_no = b.order_no
			JOIN client           c ON a.client_code = c.client_code
			JOIN employees        d ON a.employee_code = d.employee_code
			JOIN contract_item    e ON b.item_code = e.item_code
	</select>
</mapper>