<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.buss.mapper.SalesChitMapper">

	<!-- 판매전표 등록 -->
	<insert id="insertSalesChit" parameterType="com.cherp.app.buss.vo.SalesChitVO">
		<selectKey keyProperty="saleslipNo" resultType="String" order="BEFORE">
			SELECT domain('saleslip_no') FROM DUAL
		</selectKey>
		INSERT
		INTO sales_chit (
			saleslip_no,
			insert_date,
			client_code,
			client_name,
			acc_code,
			dep_bacct,
			employee_name,
			employee_code
		)
		VALUES (
			#{saleslipNo},
		    sysdate,
			#{clientCode},
			#{clientName},
			#{accCode},
			#{depBacct},
			#{employeeName},
			#{employeeCode}
		)
	</insert>

	<insert id="insertSaleslipHistory" parameterType="com.cherp.app.buss.vo.SaleslipHistoryVO">
        INSERT
        INTO saleslip_history (
            saleslip_no,
            sales_no,
            wh_code,
            wh_name,
            item_code,
            item_name,
            quantity,
            delivery_price,
            delivery_status,
            delivery_date,
            acc,
            incomplete_quantity
        )
        VALUES (
            #{saleslipNo},
            DOMAIN('sales_no'),
            #{whCode},
            #{whName},
            #{itemCode},
            #{itemName},
            #{quantity},
            #{deliveryPrice},
            #{deliveryStatus},
            #{deliveryDate},
            #{acc},
            #{incompleteQuantity}
        )
	</insert>

	<select id="selectSalesChit" resultType="com.cherp.app.buss.vo.SalesChitVO">
		SELECT saleslip_no
            , insert_date
            , client_code
            ,client_name
            , acc_code
            , dep_bacct
            ,supply_price
            ,sales_summary
            , employee_name
            , employee_code
            ,vat
            ,slip_state
		FROM sales_chit
	</select>

	<select id="selectSalesChitState" resultType="com.cherp.app.buss.vo.SalesChitVO">
		SELECT saleslip_no
            , insert_date
            , client_code
            ,client_name
            , acc_code
            , dep_bacct
            ,supply_price
            ,sales_summary
            , employee_name
            , employee_code
            ,vat
            ,slip_state
		FROM sales_chit
		WHERE slip_state = #{slipState}
	</select>
</mapper>