<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.buss.mapper.WarehouseMapper">

	<select id="selectWhList" resultType="com.cherp.app.buss.vo.WarehouseVO">
		SELECT wh_code
		,wh_place
		,wh_name
		,wh_type
		FROM warehouse
	</select>

	<select id="selectWhQuantity" resultType="com.cherp.app.buss.vo.WarehouseVO">
		SELECT
			a.stocks_quantity
		FROM
			contract_item a
		INNER JOIN stocks b ON a.item_code = b.item_code
		WHERE b.wh_code = #{whCode} and
		      a.item_code = #{itemCode}
	</select>
</mapper>