<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherp.app.buss.mapper.WarehouseMapper">

	<select id="selectWhList" resultType="com.cherp.app.buss.vo.WarehouseVO">
		SELECT wh_code
		,wh_place
		,wh_name
		,wh_type
		FROM warehouse
	</select>

	<select id="selectWhQuantity" resultType="com.cherp.app.buss.vo.WarehouseVO">
		SELECT wh_code,item_code,
			SUM(CASE stocks_stocks_check WHEN 'd1' THEN stocks_stocks ELSE 0 END ) -
			SUM(CASE stocks_stocks_check WHEN 'd2' THEN stocks_stocks ELSE 0 END ) AS current_quantity
		FROM stocks
		WHERE item_code = #{itemCode}
		AND wh_code = #{whCode}
		GROUP BY wh_code, item_code
	</select>
</mapper>